<!-- <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 auth-form-wrapper">
  <h2>Create Wallet</h2>

  <div class="alert alert-info" role="alert">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    Wallet will create a local file for your secret that will be encrypted with password of your choice. Encrypted file is not recommended way to access your wallet. Please consider a hardware wallet.
  </div>

  <div class="form-group"><a class="btn btn-block btn-success btn-lg" ng-click="goTo('/register')" translate="create_new_account">Create new account</a></div>
</div> -->

<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 auth-form-wrapper">

  <h2 translate="create_new_account">Create Wallet</h2>

  <div class="alert alert-info" role="alert">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    Wallet will create a local file for your secret that will be encrypted with password of your choice. Encrypted file is not recommended way to access your wallet. Please consider a hardware wallet.
  </div>

  <div class="form-group">
    <button class="btn btn-block btn-lg btn-primary" ng-click="fileInputClick()" translate="create_blank">Create an empty account</button>
  </div>
  <div class="form-group center">
    <button class="btn btn-link" ng-click="changeMode('register_with_secret')" translate="create_by_secret">Create a new account with a secret key</button>
  </div>

</div>
