
<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 auth-form-wrapper">

  <h2 translate="create_blank">Create empty account</h2>
  <p>{{'encrypt_new_file' | translate}}: {{walletfile}}</p>
  <form name="registerForm" ng-submit="submitForm()">
    <label class="hide" for="password" translate="wallet_file">Wallet file</label>

    <div class="form-group" ng-class="{'field-error': 'weak' === strength}">

      <label for="password" translate="password">Password</label>
      <input class="form-control" id="password1" name="password1" type="password" autocomplete="off" ng-model="password1" required="required"/>
      <p ng-show="strength=='weak'"><span translate="pwd_weak">Your password is weak. It is not a mix of letters, numbers and symbols.</span></p>

    </div>


    <div class="form-group" ng-class="{'field-error': registerForm.password2.$invalid && registerForm.password2.$dirty}">

      <label for="password2" translate="password_confirm">Confirm password</label>
      <input class="form-control" id="password2" name="password2" autocomplete="off" type="password" ng-model="password2" required="required" value-matches="password1"/>
      <p ng-show="registerForm.password2.$invalid && registerForm.password2.$dirty"><span translate="pwd_not_match">Passwords do not match</span></p>
      <p ng-show="save_error"><span>{{save_error}}</span></p>
      <div ng-show=""></div>

    </div>


    <div class="form-group">

      <meter max="4" id="password-strength-meter"></meter>
      <p id="password-strength-text"></p>
      <div class="strength {{strength}}">{{strength}}</div>

    </div>


    <div class="submit-btn-container">

      <button class="btn btn-block btn-success" type="submit" ng-disabled="registerForm.$invalid || submitLoading" translate="encrypt_account">Encrypt account</button>
      <a class="btn btn-block btn-link" ng-click="reset()" translate="cancel">Cancel</a>

    </div>
  </form>

</div>
