
<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 auth-form-wrapper">

  <h2 translate="create_secret">Create account with secret key</h2>
  <form name="useSecretKey" ng-submit="submitSecretKeyForm()">
    <div class="form-group" ng-class="{'field-error': registerForm.secret.$error.masterKey && registerForm.secret.$dirty}">
      <label for="masterkey" translate="enter_secret">Enter your secret key</label>
      <input class="form-control" id="secretKey" type="text" name="secretKey" ng-model="secretKey" master-key="master-key" required="required" autocomplete="off"/>
      <p ng-show="useSecretKey.secretKey.$error.masterKey && useSecretKey.secretKey.$dirty"><span class="field-error" translate="invalid_secret">Secret is invalid</span></p>
    </div>
    <div class="submit-btn-container">
      <button class="btn btn-block btn-success" type="submit" ng-disabled="useSecretKey.$invalid || submitLoading" translate="create_new_account">Create new account</button>
      <a class="btn btn-block btn-link" ng-click="reset()" translate="cancel">Cancel</a>
    </div>
  </form>

</div>
