<section class="col-xs-12 content">
	<group>
	<div class="so-back islandBack islandBack--t">
		<div class="island">
			<div class="island__header">
				{{ 'estimated' | translate}} <strong>{{estimated_value | number : 0}} {{currentNetwork.coin.code}}</strong>
				<a class="btn btn-success btn-sm" ng-click="refresh()" ng-disabled="working">
					<span class="glyphicon glyphicon-refresh"></span> {{'refresh' | translate}}</a>
			</div>
			<table class="BalancesTable">
				<thead>
					<tr class="BalancesTable__headerRow">
						<td>{{'asset' | translate}}</td>
						<td><sapn>{{'balance' | translate}}</sapn></td>
						<td><sapn>{{'trust_limit' | translate}}</sapn></td>
					</tr>
				</thead>
				<tbody>
					<tr class="BalancesTable__row">
						<td ng-init="native=currentNetwork">
							<gateway name="{{native.name}}" logo="{{native.coin.logo}}"
								website="{{native.website}}" code="{{native.coin.code}}" address=""></gateway>
						</td>
						<td class="BalancesTable__row__amount">
							<span>{{balance | number : 7}}</span><br>
							<span class="BalancesTable__row__removeLink">({{'reserve' | translate}} {{reserve | number : 2}})</span>
						</td>
						<td></td>
					</tr>
				</tbody>
				<tbody ng-repeat="(code, sublines) in lines">
					<tr class="BalancesTable__row" ng-repeat-start="(issuer, line) in sublines">
						<td ng-init="gateway=gateways.getSourceById(line.issuer, code)">
							<gateway name="{{gateway.name}}" logo="{{gateway.logo}}" website="{{gateway.website}}"
								code="{{code}}" address="{{line.issuer}}"></gateway>
						</td>
						<td class="BalancesTable__row__amount">
							<span> {{line.balance | number : 7}}</span></td>
						<td>
							<span class="BalancesTable__row__limit">{{line.limit | number : 0}}</span><br/>
							<span class="BalancesTable__row__removeLink" translate="trust_remove_desc" ng-show="line.balance>0">Trust is removable when balance is 0</span>
							<a class="BalancesTable__row__removeLink" href="javascript:"
								ng-hide="line.balance > 0 || isRemoving(line.code, line.issuer)"
								ng-click="delTrust(line.code, line.issuer)"
								translate="trust_remove">Remove trust</a>
							<span class="BalancesTable__row__removeLink"
								ng-show="isRemoving(line.code, line.issuer)"
								translate="trust_removeing">Removing</span><br>
							<a class="BalancesTable__row__removeLink" href="javascript:"
								ng-show="deposit_info[code][issuer].resolved"
								ng-click="toggleDepositInfo(code, issuer)">
								{{'deposit' | translate}}
								<i class="fa fa-angle-double-down" ng-hide="deposit_info[code][issuer].show"></i>
								<i class="fa fa-angle-double-up" ng-show="deposit_info[code][issuer].show"></i>
							</a>
						</td>
					</tr>
					<tr ng-repeat-end ng-show="deposit_info[code][issuer].resolved && deposit_info[code][issuer].show" class="BalancesTable__row">
						<td colspan=3>
							<span>{{deposit_info[code][issuer].info.how}}</span><br>
							<div ng-repeat="(key, msg) in deposit_info[code][issuer].info.extra_info">
								<span>{{key}}: {{msg}}</span><br>
							</div>

						</td>
					</tr>
				</tobdy>
			</table>
		</div>
	</div>
	</group>
</section>
