<div class="footer" ng-controller="FooterCtrl">
  <div class="container">
      <div class="col-xs-12 col-sm-6">
      	<p class="text-muted">{{'version' | translate}} {{version}} <strong ng-show="diff">(<a href="https://github.com/stellarchat/desktop-client/releases" target="_blank">{{'new_version_available' | translate}} {{new_version}}</a>)</strong></p>
      </div>
      <div class="col-xs-12 col-sm-6 right-links">
      	<ul class="nav navbar-nav navbar-right" role="menu">
	    	<li><a href="javascript:" ng-click="changeLanguage('en')">
	      		<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAHzSURBVHjaYkxOP8IAB//+Mfz7w8Dwi4HhP5CcJb/n/7evb16/APL/gRFQDiAAw3JuAgAIBEDQ/iswEERjGzBQLEru97ll0g0+3HvqMn1SpqlqGsZMsZsIe0SICA5gt5a/AGIEarCPtFh+6N/ffwxA9OvP/7//QYwff/6fZahmePeB4dNHhi+fGb59Y4zyvHHmCEAAAW3YDzQYaJJ93a+vX79aVf58//69fvEPlpIfnz59+vDhw7t37968efP3b/SXL59OnjwIEEAsDP+YgY53b2b89++/awvLn98MDi2cVxl+/vl6mituCtBghi9f/v/48e/XL86krj9XzwEEEENy8g6gu22rfn78+NGs5Ofr16+ZC58+fvyYwX8rxOxXr169fPny+fPn1//93bJlBUAAsQADZMEBxj9/GBxb2P/9+S/R8u3vzxuyaX8ZHv3j8/YGms3w8ycQARmi2eE37t4ACCDGR4/uSkrKAS35B3TT////wADOgLOBIaXIyjBlwxKAAGKRXjCB0SOEaeu+/y9fMnz4AHQxCP348R/o+l+//sMZQBNLEvif3AcIIMZbty7Ly6t9ZmXl+fXj/38GoHH/UcGfP79//BBiYHjy9+8/oUkNAAHEwt1V/vI/KBY/QSISFqM/GBg+MzB8A6PfYC5EFiDAABqgW776MP0rAAAAAElFTkSuQmCC" title="English" alt="English">
	        </a></li>
	    	<li><a href="javascript:" ng-click="changeLanguage('cn')">
	      		<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAFqSURBVHjaYrzOwPAPjJgYQEDAleHVbhADIvgHLPgHiQ0QQCxAlkR9NW8sw+cV/1gV/7Gb/hV4+vfzhj8Mv/78//Pn/+/f/8AkhH1t0yaAAAJp4I37zyz2lDfu79uqv/++/WYz+cuq/vvLxt8gdb+A5K9/v34B2SyyskBLAAII5JAva/7/+/z367a/f3/8ZuT9+//Pr78vQUrB6n4CSSj6/RuoASCAWEDO/fD3ddEfhv9/OE3/sKj8/n7k9/fDQNUIs/+DVf8HawAIIJCT/v38C3Hr95N/GDh/f94AVvT7N8RUBpjxQAVADQABBNLw/y/Ifwy/f/399ufTOpDBEPf8g5sN0QBEDAwAAQTWABEChgOSA9BVA00E2wAQQCANQBbEif/AzoCqgLkbbBYwWP/+//sXqBYggFhAkfL7D7OkJFCOCSj65zfUeFjwg8z++/ffX5AGoGKAAGI8jhSRyIw/SJH9D4aAYQoQYAA6rnMw1jU2vQAAAABJRU5ErkJggg==" title="中文 (中国)" alt="中文 (中国)">
		    </a></li>
        <li><a href="javascript:" ng-click="changeLanguage('fr')">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAKCAYAAAC9vt6cAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4gIQCgkJGAiS7QAAAGVJREFUKM9jNHKctogBDUzv9nymrSEqhSz2ffehV2/z6/nR1bIw/P8fiy4owMd+hIGBwQZF8MeP0wwM/03R1TIxUAhGDRgMBrAwMDAcRhf8+v3PLQYGhj/IYv8YGJ+gizEwMDAAACDUGa1Z8aueAAAAAElFTkSuQmCC" title="Francais" alt="Francais">
        </a></li>
        <li><a href ng-click="changeLanguage('br')">
          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMCAYAAABr5z2BAAABuklEQVQokZ2ST0jTARTHXy3NS9kgh20Z+/3059b4Tdnm1O6dhwd/BUFBSHTVQxevuUVtQzZpWxqxQ1ARlCRB+WdWzqXNEmZKnroEhV0sUzr56fADcVoGHt7l8d6H977fr8g5NS+Gyr6qU50WMVQk01pe6SCS0KmMKliiKpJsMns75wyV3YDbfiTWQPNNK+/zLUy98uO+YUXijUgqsAcgHUSSTRwM2+m5e4r1hTY2P7XD8hnWSm10ZRxI5CQy0IxkgjsAqQASd9EQOULuhYufRS/ZoQvUhsbwXHzD6JNLbC76GH6m4eizIv1uc2cLkNC5PGjjx5wbSh6+5pw8n/rC2+IKV3s/ohrj/HqnQcnDt5lGQikbkvSWA7rvHWej6IR5hbVCHY6OUXwdM2Qffab/wRLfc3aYV9goOrmWtSEJffsLfiSmoUcqKIzUwNwJJh+H8Hfl0c6/5H76LOv5GiaGbZwOH0Zimin2bhG9VPTV0nunit+Fapg9BrNHWX1dzZWBSiRsL7f07zb6kGg9gcgBPowc4ulDC87rVUjcZV763xxkWpF0C5LQsdxSkGi9ad0/g9SpTu87yoZS+ANl0XMrBlXCCQAAAABJRU5ErkJggg==" title="Português do Brasil" alt="Português do Brasil">
      </a></li>
		</ul>
      </div>
  </div>
</div>
