<div ng-controller="HeaderCtrl" class="header">
  <header ng-show="!showMenu && launched" class="auth" ng-class="currentNetwork.coin.code">
    <h1 translate="header_wellcome" ng-if="currentNetwork.coin.code != 'FIC'">Stellar is a platform that connects banks, payments systems, and people.</h1>
    <h1 ng-if="currentNetwork.coin.code == 'FIC'">FIC Network is an end-to-end decentralized fixed income securities network</h1>
  </header>

	<nav class="navbar navbar-inverse" ng-show="showMenu">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav">
	        <li ng-class="{active:isActive('/hist_payments') || isActive('/hist_trades') || isActive('/hist_effects'), disabled: notFunded}" ng-show="currentNetwork.tabs.indexOf('history') > -1">
	        	<a href ng-click="notFunded || goTo('/hist_payments')">{{'history' | translate}}</a>
	        </li>
	        <li ng-class="{active:isActive('/trade') || isActive('/convert'), disabled: notFunded}" ng-show="currentNetwork.tabs.indexOf('trade') > -1">
            <a href ng-click="notFunded || goTo('/trade')">{{'trade' | translate}}</a>
          </li>
	        <li ng-class="{active:isActive('/balance'), disabled: notFunded}" ng-show="currentNetwork.tabs.indexOf('balance') > -1">
            <a href ng-click="notFunded || goTo('/balance')">{{'balance' | translate}}</a>
          </li>
	        <li ng-class="{active:isActive('/send') || isActive('/contact'), disabled: notFunded}" ng-show="currentNetwork.tabs.indexOf('send') > -1">
	        	<a href ng-click="notFunded || goTo('/send')">{{'send' | translate}}</a>
	        </li>
	        <li ng-class="{active:isActive('/trust'), disabled: notFunded}" ng-show="currentNetwork.tabs.indexOf('trust') > -1">
            <a href ng-click="notFunded || goTo('/trust')">{{'trust' | translate}}</a>
          </li>
	        <li ng-class="{active:isActive('/bridges'), disabled: notFunded}" ng-show="currentNetwork.tabs.indexOf('service') > -1">
	        	<a href ng-click="notFunded || goTo('/bridges')">{{'service' | translate}}</a>
	        </li>
	        <li ng-class="{active:isActive('/ico'), disabled: notFunded}" ng-show="currentNetwork.tabs.indexOf('ico') > -1">
            <a href ng-click="notFunded || goTo('/ico')">{{'ico' | translate}}</a>
          </li>
          <li ng-class="{active:isActive('/sign_offline'), disabled: notFunded}" ng-show="currentNetwork.tabs.indexOf('signoffline') > -1">
            <a href ng-click="notFunded || goTo('/sign_offline')">{{'sign_offline' | translate}}</a>
          </li>
          <li ng-class="{active:isActive('/fic_coins') || isActive('/fic_address') || isActive('/fic_claim' || isActive('/fic_history'))}" ng-show="currentNetwork.tabs.indexOf('ficnetwork') > -1">
	        	<a href="javascript:" ng-click="goTo('/fic_coins')">{{'ficnetwork' | translate}}</a>
	        </li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	      	<li>
            <a href ng-click="goTo('/settings')">
              <i ng-hide="isPublicNetwork()" class="fa fa-exclamation-triangle"></i>
              <i ng-show="isPublicNetwork()" class="fa fa-globe"></i>
              {{currentNetwork.name | translate}}
            </a>
          </li>
	        <li>
	        	<a href ng-click="goTo('/security')" title="{{address}}">
	        		<span class="glyphicon glyphicon-user"></span>
	        		<span ng-hide="fed_name">{{address | shortaddress}}</span>
	        		<span ng-show="fed_name">~{{fed_name}}</span>
	        	</a>
	        </li>
	        <li><a href ng-click="reload()"><span class="glyphicon glyphicon-refresh"></span> Refresh</a></li>
	        <li><a href ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> {{'logout' | translate}}</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>
	<div ng-show="isActive('/hist_payments') || isActive('/hist_trades') || isActive('/hist_effects')" class="subnav">
		  <div class="container">
		    <ul>
		      <li ng-class="{active:isActive('/hist_payments')}"><a href ng-click="goTo('/hist_payments')">{{'payments' | translate}}</a></li>
		      <li ng-class="{active:isActive('/hist_effects')}"><a href ng-click="goTo('/hist_effects')">{{'effects' | translate}}</a></li>
		      <li ng-class="{active:isActive('/hist_trades')}"><a href ng-click="goTo('/hist_trades')">{{'trades' | translate}}</a></li>
		    </ul>
		</div>
	</div>
	<div ng-show="isActive('/fic_address') ||isActive('/fic_coins') || isActive('/fic_claim') || isActive('/fic_history')" class="subnav">
		  <div class="container">
		    <ul>
          <li ng-class="{active:isActive('/fic_coins')}"><a href="javascript:" ng-click="goTo('/fic_coins')">{{'ficnetwork_coins' | translate}}</a></li>
		      <li ng-class="{active:isActive('/fic_history')}"><a href="javascript:" ng-click="goTo('/fic_history')">{{'ficnetwork_history' | translate}}</a></li>
		    </ul>
		</div>
	</div>
	<div ng-show="isActive('/trade') || isActive('/convert')" class="subnav">
		  <div class="container">
		    <ul>
		      <li ng-class="{active:isActive('/trade')}"><a href ng-click="goTo('/trade')">{{'normal' | translate}}</a></li>
		      <li ng-class="{active:isActive('/convert')}"><a href ng-click="goTo('/convert')">{{'convert' | translate}}</a></li>
		    </ul>
		</div>
	</div>
	<div ng-show="isActive('/send') || isActive('/contact')" class="subnav">
		  <div class="container">
		    <ul>
		      <li ng-class="{active:isActive('/send')}"><a href ng-click="goTo('/send')">{{'send' | translate}}</a></li>
		      <li ng-class="{active:isActive('/contact')}"><a href ng-click="goTo('/contact')">{{'contacts' | translate}}</a></li>
		    </ul>
		</div>
	</div>
	<div ng-show="isActive('/bridges')" class="subnav">
		  <div class="container">
		    <ul>
		      <li ng-class="{active:isActive('/bridges')}"><a href ng-click="goTo('/bridges')">{{'deposit_withdraw' | translate}}</a></li>
		    </ul>
		</div>
	</div>
</div>
