<section class="col-xs-12 content">
	<group>
	<div class="so-back islandBack islandBack--t">
		<div class="island">
			<div class="island__header">{{'latest_effects' | translate}}
				<a class="btn btn-success btn-sm" ng-click="refresh()" ng-disabled="loading">
					<span class="glyphicon glyphicon-refresh"></span> {{'refresh' | translate}}</a>
			</div>

			<div class="AddTrustFromDirectory">
				<div class="s-alert s-alert--alert" ng-show="error_msg">
						<ul class="AddTrust__errorList">
							<li>{{error_msg | translate:currentNetwork.coin}}</li>
						</ul>
				</div>
            	<table class="table-hover HistoryTable">
            		<tbody>
            			<tr class="HistoryTable-row" ng-repeat="tx in effects">
            				<td class="address">{{tx.date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            				<td>{{tx.type}}</td>
            				<td class="amount" ng-if="tx.type != 'trade'">
            					<span class="debit" ng-if="tx.type == 'account_debited'">{{tx.to}}</span>
                           		<span class="credit" ng-if="tx.type == 'account_credited'">{{tx.from}}</span>
            					<span class="debit" ng-if="tx.type == 'trustline_removed'">{{tx.asset_issuer}}</span>
                           		<span class="credit" ng-if="tx.type == 'trustline_created'">{{tx.asset_issuer}}</span>
							</td>
	            			<td class="amount" ng-if="tx.type != 'trade'">
								<span class="debit" ng-if="tx.type == 'account_debited'"><span class="bold">-</span>{{tx.amount}}</span>
                           		<span class="credit" ng-if="tx.type == 'account_credited'"><span class="bold">+</span>{{tx.amount}}</span>
                           		<strong>{{tx.asset_code}}</strong>
							</td>
							<td class="amount" ng-if="tx.type == 'trade'" colspan=2 style="text-align: center;">
								<span class="credit"><span class="bold">+</span>{{tx.bought_amount}}</span> <strong>{{tx.bought_asset_code}}</strong>
								<strong>/</strong>
								<span class="debit"><span class="bold">-</span>{{tx.sold_amount}}</span> <strong>{{tx.sold_asset_code}}</strong>
							</td>
            			</tr>
            		</tbody>
            	</table>
        	</div>

			<div class="txfoot">
				<div translate="loading" ng-show="loading">Loading...</div>
				<a href="" ng-click="load_more()" translate="load_more" ng-show="next && !loading">Load more</a>
				<div translate="no_more" ng-show="!next && !loading">No more transactions left</div>
			</div>
		</div>
	</div>
	</group>
</section>
