<section class="col-xs-12 content">
	<group>
	<div class="so-back islandBack islandBack--t">
		<div class="island">
			<div class="island__header">{{'latest_trades' | translate}}
				<a class="btn btn-success btn-sm" ng-click="refresh()" ng-disabled="loading">
					<span class="glyphicon glyphicon-refresh"></span> {{'refresh' | translate}}</a>
			</div>

			<div class="s-alert s-alert--alert" ng-show="error_msg">
					<ul class="AddTrust__errorList">
						<li>{{error_msg | translate:currentNetwork.coin}}</li>
					</ul>
			</div>

			<div class="feed">
				<div ng-repeat="item in trades" ng-switch="item.type">
					<tx-path-payment ng-switch-when="pathPayment"></tx-path-payment>
					<tx-payment ng-switch-when="payment"></tx-payment>
					<tx-payment ng-switch-when="createAccount"></tx-payment>
					<tx-trust ng-switch-when="changeTrust"></tx-trust>
					<tx-offer ng-switch-when="manageOffer"></tx-offer>
					<tx-options ng-switch-when="setOptions"></tx-options>
					<tx-data ng-switch-when="manageData"></tx-data>
					<tx-inflation ng-switch-when="inflation"></tx-inflation>
					<tx-batch ng-switch-when="batch"></tx-batch>
					<tx-default ng-switch-default></tx-default>
				</div>
			</div>

			<div class="txfoot">
				<div translate="loading" ng-show="loading">Loading...</div>
				<a href="" ng-click="load_more()" translate="load_more" ng-show="next && !loading">Load more</a>
				<div translate="no_more" ng-show="!next && !loading">No more transactions left</div>
			</div>
		</div>
	</div>
	</group>
</section>
