<section class="col-xs-12 content login-content">

  <!-- TABS -->
  <ul class="nav nav-tabs nav-justified" id="nav-tab" role="tablist">
    <li class="nav-item active">
      <a class="nav-item nav-link" id="nav-create-account-tab" data-toggle="tab" href="#nav-create-account" role="tab" aria-selected="false" aria-controls="nav-create">Create wallet</a>
    </li>
    <li class="nav-item">
      <a class="nav-item nav-link" id="nav-public-key-tab" data-toggle="tab" href="#nav-public-key" role="tab" aria-selected="false" aria-controls="nav-public">Browse wallet</a>
    </li>
    <li class="nav-item">
      <a class="nav-item nav-link" id="nav-open-wallet-tab" data-toggle="tab" href="#nav-open-wallet" role="tab" aria-selected="true" aria-controls="nav-open">Open wallet</a>
    </li>
    <li class="nav-item ">
      <a class="nav-item nav-link" id="nav-ledger-wallet-tab" data-toggle="tab" href="#nav-ledger-wallet" role="tab" aria-selected="false" aria-controls="nav-ledger">Ledger wallet</a>
    </li>
  </ul>

  <!-- SETTINGS -->
  <div class="login-options">
    <div class="alert alert-info" role="alert">
      <div class="row">
        <div class="col-sm-8">
          <strong class="large">{{network_passphrase}}</strong>
        </div>
        <div class="col-sm-4" style="text-align:right;">
          <button class="btn btn-info" ng-click="openNetworkSettings()">
            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
            Network settings
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- TAB CONTENT -->
  <div class="tab-content" id="nav-tab-content">

    <!-- CREATE ACCOUNT -->
    <div class="tab-pane fade active in" id="nav-create-account" role="tabpanel" aria-labelledby="nav-create-account-tab">
      <div class="row" style="margin: 20px 0;">

        <ng-include src="'./pages/register.html'"></ng-include>

      </div>
    </div>

    <!-- OPEN WALLET -->
    <div class="tab-pane fade" id="nav-open-wallet" role="tabpanel" aria-labelledby="nav-open-wallet-tab">
      <div class="row" style="margin: 20px 0;">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 auth-form-wrapper">
          <h2>Open Wallet</h2>
          <form name="loginForm" ng-disabled="loginForm.$invalid" ng-submit="submitForm()">
            <div class="form-group"><a class="btn btn-block btn-default" id="walletfile" ng-click="fileInputClick()">{{'select_file' | translate}} {{walletfile}}</a></div>
            <div class="form-group hide">
              <label for="login_walletfile" translate="select_file">Select account file</label>
              <input class="form-control" id="login_walletfile" name="login_walletfile" type="file" ng-model="walletfile"/>
            </div>
            <div class="form-group">
              <label for="login_password" translate="account_password">Account password</label>
              <input class="form-control" id="login_password" name="login_password" type="password" ng-model="password" required="required" autocomplete="disabled" />
            </div>
            <div class="text-error" ng-show="error"><br/><span>{{error}}</span></div>
            <div class="text-status" ng-show="status"><span>{{status}}</span>
              <div class="backend" ng-repeat="message in backendMessages"><b>{{message.backend}} &#32;</b><span>{{message.message}}</span></div>
            </div>
            <div class="submit-btn-container">
              <button class="btn btn-submit btn-block btn-success btn-lg" type="submit" ng-disabled="loginForm.$invalid"><span translate="open_account">Open account</span></button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- PUBLIC KEY -->
    <div class="tab-pane fade" id="nav-public-key" role="tabpanel" aria-labelledby="nav-public-key-tab">
      <div class="row" style="margin: 20px 0;">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 auth-form-wrapper">
          <h2>Browse Wallet</h2>

          <div class="alert alert-info" role="alert">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            Access to wallet will be required only upon signing
          </div>

          <form name="loginAddress" ng-disabled="loginAddress.$invalid" ng-submit="submitAddress()">
            <div class="form-group">
              <label for="address">Address</label>
              <input class="form-control" id="walletAddress" name="walletAddress" type="text" ng-model="walletAddress" required="required" autocomplete="disabled" />
            </div>
            <div class="submit-btn-container">
              <button class="btn btn-submit btn-block btn-success btn-lg" type="submit"><span>Continue</span></button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Ledger wallet -->
    <div class="tab-pane fade" id="nav-ledger-wallet" role="tabpanel" aria-labelledby="nav-ledger-wallet-tab">
      <div class="row" style="margin: 20px 0;">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 auth-form-wrapper">
          <h2>Ledger Wallet</h2>

          <div class="alert alert-{{ledgerError.type}}" role="alert" ng-show="ledgerError.type">
            {{ledgerError.error}}
          </div>

          <div class="submit-btn-container hide" ng-hide="ledgerError.type">
            <button type="button" class="btn-connect btn btn-submit btn-lg btn-block btn-success" id="load" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Unlocking">Connect with Ledger wallet</button>
          </div>

          <form name="HWAddress" ng-disabled="HWAddress.$invalid" ng-submit="HWAddressLogin()" class="" ng-hide="ledgerError.type">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default dropdown-toggle {{addressInputDisabled ? 'btn-block' : ''}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ledgerForm.selectedDropdown}}<span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href ng-click="onDropdownChange('Default account', 0)">Default account</a></li>
                    <li><a href ng-click="onDropdownChange('Subaccount #1', 1)">Subaccount #1</a></li>
                    <li><a href ng-click="onDropdownChange('Subaccount #2', 2)">Subaccount #2</a></li>
                    <li><a href ng-click="onDropdownChange('Subaccount #3', 3)">Subaccount #3</a></li>
                    <li><a href ng-click="onDropdownChange('Subaccount #4', 4)">Subaccount #4</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href ng-click="onDropdownChange('Other account..')">Other account..</a></li>
                  </ul>
                </div><!-- /btn-group -->
                <input type="text" ng-model="ledgerForm.otherAccountInput" class="form-control" placeholder="0" ng-hide="addressInputDisabled">
                <input type="hidden" ng-model="ledgerForm.subaccount">
              </div><!-- /input-group -->
            </div>
            <div class="form-group" ng-if="ledgerForm.address">
              <pre>{{ledgerForm.address}}</pre>
            </div>
            <div class="submit-btn-container">
              <button class="btn btn-submit btn-block btn-success btn-lg" type="submit" ng-disabled="ledgerForm.address == 'loading address..'"><span>{{continue}}</span></button>
            </div>
          </form>

        </div>
      </div>
    </div>

  </div>

  <div>
    <network-modal handler="networkModal"/>
  </div>

</section>
