<div class="row" style="margin: 20px 0;">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 auth-form-wrapper">
    <h2>Please choose preffered network</h2>

    <div class="row" style="margin-bottom: 20px;">
      <div class="col-xs-12">
        <p translate="switch_net_desc">The testnet is for, well, testing. It’s occasionally reset, so don’t get attached to any balances or accounts that you have on it.</p>
        <div class="btn-group  btn-group-sm" role="group" aria-label="Network options">
          <button type="button" class="btn btn-success" ng-repeat="n in all_networks" ng-class="{active: network_type == n.networkType}" ng-click="set(n.networkType)">{{n.name | translate}}</button>
        </div>
      </div>
    </div>

    <div class="row" style="margin-bottom: 20px;" ng-init="network = currentNetwork">
      <div class="col-xs-12">
        <label translate="other_url">Network URL</label>
        <span ng-show="network.knownHorizons.length > 0">
          <select class="form-control" name="select_lockup" ng-model="network_horizon">
            <option ng-repeat="horizon in network.knownHorizons" value="{{horizon}}">{{horizon}}</option>
          </select>
        </span>
        <span ng-hide="network.knownHorizons.length > 0">
          <input class="form-control" type="text" ng-model="network_horizon" placeholder="{{all_networks[network_type].knownHorizons[0]}}" list="horizons"/>
        </span>
      </div>
      <div class="col-xs-12" ng-show="network_type == 'other'">
        <label translate="passphrase">Passphrase or id</label>
        <input class="form-control" type="text" ng-model="network_passphrase" placeholder="My Integration Network ; mycrypto"/>
      </div>
      <div class="col-xs-12" ng-show="network_type == 'other'">
        <label translate="coin_ticket">coin ticket</label>
        <input class="form-control" type="text" ng-model="network_coin" placeholder="XLM"/>
      </div>
    </div>
    <div class="s-alert s-alert--alert row__message" ng-show="network_error">
      {{network_error}}
    </div>

    <div class="submit-btn-container">
      <button type="button" ng-click="save()" class="btn btn-primary" translate="save">Save changes</button>
    </div>

  </div>
</div>
