<section class="col-xs-12 content">
  <div class="row col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6" ng-show="mode=='register_new_account'">
    <div class="auth-form-wrapper">
      <h2 translate="create_new_account">Create new account</h2>
      <div class="form-group"><a class="btn btn-block btn-default" ng-click="fileInputClick()" translate="create_blank">Create an empty account</a></div>
      <div class="form-group"><a class="btn btn-block btn-default" ng-click="changeMode('register_with_secret')" translate="create_by_secret">Create a new account with a secret key</a></div>
      <div class="form-group"><a class="btn btn-block btn-link" ng-click="goTo('/login')" translate="back">back</a></div>
    </div>
  </div>
  <div class="row col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6" ng-show="mode=='register_empty_wallet'">
    <div class="auth-form-wrapper">
      <h2 translate="create_blank">Create empty account</h2>
      <p>{{'encrypt_new_file' | translate}}: {{walletfile}}</p>
      <form name="registerForm" ng-submit="submitForm()">
        <label class="hide" for="password" translate="wallet_file">Wallet file</label>

        <div class="form-group" ng-class="{'field-error': 'weak' === strength}">
          <label for="password" translate="password">Password</label>
          <input class="form-control" id="password1" name="password1" type="password" autocomplete="off" ng-model="password1" strong-password="strong-password" required="required"/>
          <p ng-show="strength=='weak'"><span translate="pwd_weak">Your password is weak. It is not a mix of letters, numbers and symbols.</span></p>
        </div>
        <div class="form-group" ng-class="{'field-error': registerForm.password2.$invalid && registerForm.password2.$dirty}">
          <label for="password2" translate="password_confirm">Confirm password</label>
          <input class="form-control" id="password2" name="password2" autocomplete="off" type="password" ng-model="password2" required="required" value-matches="password1"/>
          <p ng-show="registerForm.password2.$invalid && registerForm.password2.$dirty"><span translate="pwd_not_match">Passwords do not match</span></p>
          <p ng-show="save_error"><span>{{save_error}}</span></p>
          <div ng-show=""></div>
        </div>

        <div class="form-group">
          <div class="strength {{strength}}">{{strength}}</div>
        </div>
        <div class="submit-btn-container">
          <button class="btn btn-block btn-success" type="submit" ng-disabled="registerForm.$invalid || submitLoading" translate="encrypt_account">Encrypt account</button>
          <a class="btn btn-block btn-link" ng-click="reset()" translate="cancel">Cancel</a>
        </div>
      </form>
    </div>
  </div>
  <div class="row col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6" ng-show="mode=='register_with_secret'">
    <div class="auth-form-wrapper">
      <h2 translate="create_secret">Create account with secret key</h2>
      <form name="useSecretKey" ng-submit="submitSecretKeyForm()">
        <div class="form-group" ng-class="{'field-error': registerForm.secret.$error.masterKey && registerForm.secret.$dirty}">
          <label for="masterkey" translate="enter_secret">Enter your secret key</label>
          <input class="form-control" id="secretKey" type="text" name="secretKey" ng-model="secretKey" master-key="master-key" required="required" autocomplete="off"/>
          <p ng-show="useSecretKey.secretKey.$error.masterKey && useSecretKey.secretKey.$dirty"><span class="field-error" translate="invalid_secret">Secret is invalid</span></p>
        </div>
        <div class="submit-btn-container">
          <button class="btn btn-block btn-success" type="submit" ng-disabled="useSecretKey.$invalid || submitLoading" translate="create_new_account">Create new account</button>
          <a class="btn btn-block btn-link" ng-click="reset()" translate="cancel">Cancel</a>
        </div>
      </form>
    </div>
  </div>
  
  <div class="row mode-welcome" ng-show="mode=='welcome'">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <p class="important" translate="important">Important:</p>
      <p class="hint" translate="security_notice">The secret key below gives access to your money in the unlikely case that you lose your password.
         In that case your contacts will be lost, but with this secret key alone anyone can retrieve your money. So please
         store it somewhere PRIVATE AND SAFE.
      </p>
      <div class="credentials">
      	<span class="password" translate="password">Passphrase:</span>
      	<span class="value" ng-hide="showPassword==true">{{password}}</span>
      	<span class="value" ng-show="showPassword==true">{{password1}}</span>
      	<p ng-hide="showPassword==true">
            <button class="btn btn-info btn-sm" ng-really-message="{{'are_you_sure_secret' | translate}}" ng-really-click="showPass(true)" translate="show_password">Show password</button>
        </p>
        <p ng-show="showPassword==true">
          <button class="btn btn-info btn-sm" ng-click="showPass(false)" translate="hide_password">Hide password</button>
        </p>
      </div>
      <div class="secret">
        <p class="important" translate="stellar_address">Stellar address</p>
        <p class="key">{{address}}</p>
        <p class="important" translate="secret_key">Secret key:</p>
        <p class="key" ng-show="showSecret==true">{{masterkey}}</p>
        <p class="key" ng-hide="showSecret==true">{{key}}</p>
        <p ng-hide="showSecret==true">
            <button class="btn btn-info btn-sm" ng-really-message="{{'are_you_sure_secret' | translate}}" ng-really-click="showSec(true)" translate="show_secret">Show secret key</button>
        </p>
        <p ng-show="showSecret==true">
          <button class="btn btn-info btn-sm" ng-click="showSec(false)" translate="hide_secret">Hide secret key</button>
        </p>
      </div>
      <p class="important" translate="save_safe">Have you saved your secret key somewhere safe?</p>
      <div class="row">
        <div class="col-xs-12 col-sm-5 col-lg-4"><a class="btn btn-info btn-block btn-big" href="#balance" ng-click="goToFund()" translate="yes_save">Yes, I saved my secret key</a></div>
      </div>
    </div>
  </div>
</section>