<section class="col-xs-12 content">
	<div class="row">
		<div class="col-sm-3">
			<div class="settingPage">
				<a href="javascript:" ng-class="{active: isMode('security')}" ng-click="setMode('security')"
					translate="security">Security</a>
				<a href="javascript:" ng-class="{active: isMode('inflation')}" ng-click="setMode('inflation')"
					translate="inflation">Inflation</a>
			</div>
		</div>
		
		<div class="col-sm-9" ng-show="isMode('security')">
	      <label translate="important">Important:</label>
	      <p class="hint" translate="security_notice">The secret key below gives access to your money in the unlikely case that you lose your password.
	         In that case your contacts will be lost, but with this secret key alone anyone can retrieve your money. So please
	         store it somewhere PRIVATE AND SAFE.
	      </p>
	      <div class="secret">
	        <label translate="stellar_address">Stellar address</label>
	        <p class="key">{{address}}</p>
	        <label translate="secret_key">Secret key:</label>
	        <p class="key" ng-show="showSecret==true">{{keyOpen}}</p>
	        <p class="key" ng-hide="showSecret==true">{{key}}</p>
	        <p ng-hide="showSecret==true">
	            <button class="btn btn-info btn-sm" ng-really-message="{{'are_you_sure' | translate}}" ng-really-click="showSec(true)" translate="show_secret">Show secret key</button>
	        </p>
	        <p ng-show="showSecret==true">
	          <button class="btn btn-info btn-sm" ng-click="showSec(false)" translate="hide_secret">Hide secret key</button>
	        </p>
	      </div>
	      <label translate="save_safe">Have you saved your secret key somewhere safe?</label>
	      <div class="row">
	        <div class="col-xs-12 col-sm-5 col-lg-4"><a class="btn btn-info btn-block btn-big" href="javascript:" ng-click="goTo('/balance')" translate="yes_save">Yes, I saved my secret key</a></div>
	      </div>
	    </div>
	    
		<div class="col-sm-9" ng-show="isMode('inflation')">
			<label translate="important">Important:</label> 
		    <p class="hint" translate="inflation_desc">New lumens are added to the network at the rate of 1% each year. Each week, the protocol distributes these lumens to any account that gets over .05% of the “votes” from other accounts in the network.</p>
		
			<div class="row" style="margin-bottom: 20px;">
				<div class="col-xs-12 col-md-10">
					<label translate="inflation">Inflaction Destination</label> 
					<input class="form-control" type="text" ng-model="inflation" />
				</div>
			</div>
			<div class="s-alert s-alert--alert row__message" ng-show="inflation_error">
				{{inflation_error}}
			</div>
			<div class="s-alert s-alert--success row__message" ng-show="inflation_done" translate="inflation_done">
				Inflation Destination was set.
			</div>
			<div class="row" style="margin-bottom: 20px;">
				<div class="col-xs-12 col-sm-5">
					<a class="btn btn-info btn-block btn-big" href="javascript:" ng-disabled="inflation_working"
						ng-click="setInflation()" translate="save">Save</a>
				</div>
			</div>
			
			<label translate="inflation_options">Other options</label>
			<p class="hint" translate="inflation_options_desc">You can join xlmpool.com to get the inflation lumens. Or you can vote to RippleFox.</p>
			
			<div class="row">
				<div class="col-xs-12 col-sm-5">
					<a class="btn btn-info btn-block btn-big" href="javascript:" ng-disabled="inflation_working"
						ng-click="setInflationPool()" translate="inflation_pool">Vote to xlmpool.com/</a>
				</div>
				<div class="col-xs-12 col-sm-5">
					<a class="btn btn-info btn-block btn-big" href="javascript:" ng-disabled="inflation_working"
						ng-click="setInflationFox()" translate="inflation_fox">Vote to RippleFox</a>
				</div>
			</div>
		</div>  
	</div>
</section>