<section class="col-xs-12 content">
	<div class="row">
		<div class="col-sm-3">
			<div class="settingPage">
				<a href="javascript:" ng-class="{active: isMode('security')}" ng-click="setMode('security')"
					translate="security">Security</a>
				<a href="javascript:" ng-class="{active: isMode('inflation')}" ng-click="setMode('inflation')"
					translate="inflation">Inflation</a>
				<a href="javascript:" ng-class="{active: isMode('domain')}" ng-click="setMode('domain')"
					translate="home_domain">Home Domain</a>
				<a href="javascript:" ng-class="{active: isMode('data')}" ng-click="setMode('data')"
					translate="manage_data">Manage Data</a>
				<a href="javascript:" ng-class="{active: isMode('merge')}" ng-click="setMode('merge')"
					translate="delete_account">Delete Account</a>
			</div>
		</div>

		<div class="col-sm-9" ng-show="isMode('security')">
		  <label translate="important">Important:</label>
		  <p class="hint" translate="security_notice">The secret key below gives access to your money in the unlikely case that you lose your password.
			 In that case your contacts will be lost, but with this secret key alone anyone can retrieve your money. So please
			 store it somewhere PRIVATE AND SAFE.
		  </p>
		  <div class="address">
			<label translate="stellar_address">Stellar address</label>
			<p class="key">{{address}}</p>
			<p class="key"><qrcode data="{{address}}" size=200></qrcode></p>
		  </div>
		  <div class="secret" ng-show="keyAmount > 0">
			<label translate="secret_key">Secret key:</label>
			<p class="key" ng-show="showSecret==true">
				{{keyOpen}}
			</p>
			<p class="key" ng-show="showSecret==true"><qrcode data="{{keyQRCode}}" size=200></qrcode></p>
			<p class="key" ng-hide="showSecret==true">{{key}}</p>
			<p ng-hide="showSecret==true">
				<button class="btn btn-info btn-sm" ng-really-message="{{'are_you_sure_secret' | translate}}" ng-really-click="showSec(true)" translate="show_secret">Show secret key</button>
			</p>
			<p ng-show="showSecret==true">
			  <button class="btn btn-info btn-sm" ng-click="showSec(false)" translate="hide_secret">Hide secret key</button>
			</p>
			<label translate="save_safe">Have you saved your secret key somewhere safe?</label>
			<div class="row">
				<div class="col-xs-12 col-sm-5 col-lg-4"><a class="btn btn-info btn-block btn-big" href="javascript:" ng-click="goTo('/balance')" translate="yes_save">Yes, I saved my secret key</a></div>
			</div>
		  </div>
		</div>

		<div class="col-sm-9" ng-show="isMode('inflation')">
			<label translate="important">Important:</label>
			<p class="hint" translate="inflation_desc" translate-values="currentNetwork.coin">New lumens are added to the network at the rate of 1% each year. Each week, the protocol distributes these lumens to any account that gets over .05% of the “votes” from other accounts in the network.</p>

			<div class="row" style="margin-bottom: 20px;">
				<div class="col-xs-12 col-md-10">
					<label translate="inflation">Inflaction Destination</label>
					<input class="form-control" type="text" ng-model="inflation" />
				</div>
			</div>
			<div class="s-alert s-alert--alert row__message" ng-show="inflation_error">
				{{inflation_error}}
			</div>
			<div class="s-alert s-alert--success row__message" ng-show="inflation_done" translate="inflation_done">
				Inflation Destination was set.
			</div>
			<div class="row" style="margin-bottom: 20px;">
				<div class="col-xs-12 col-sm-5">
					<a class="btn btn-info btn-block btn-big" href="javascript:" ng-disabled="inflation_working"
						ng-click="setInflation()" translate="save">Save</a>
				</div>
			</div>

			<label translate="inflation_options">Other options</label>
			<p class="hint" translate="inflation_options_desc">You can join one of the following inflation pools.</p>

			<div class="row" style="margin-bottom: 20px;">
				<div class="col-xs-6 col-sm-4">
					<a class="btn btn-info btn-block btn-big" href="javascript:" ng-disabled="inflation_working"
					   ng-click="setInflationXLMPool()" translate="inflation_xlmpool">Vote to xlmpool.com/</a>
				</div>
				<div class="col-xs-6 col-sm-4">
					<a class="btn btn-info btn-block btn-big" href="javascript:" ng-disabled="inflation_working"
						ng-click="setInflationMoonPool()" translate="inflation_moonpool">Vote to MoonPool</a>
				</div>
				<div class="col-xs-12 col-sm-4">
					<a class="btn btn-info btn-block btn-big" href="javascript:" ng-disabled="inflation_working"
						ng-click="setInflationLumenaut()" translate="inflation_lumenaut">Vote to lumenaut.net</a>
				</div>
			</div>
			
			<label translate="inflation_donation">Support us</label>
			<p class="hint" translate="inflation_donation_desc">You can join one of the following inflation pools.</p>
			<div class="row">
				<div class="col-xs-6 col-sm-4">
					<a class="btn btn-info btn-block btn-big" href="javascript:" ng-disabled="inflation_working"
						ng-click="setInflationFox()" translate="inflation_fox">Vote to RippleFox</a>
				</div>
			</div>
		</div>

		<div class="col-sm-9" ng-show="isMode('domain')">
			<label translate="important">Important:</label>
			<p class="hint" translate="domain_desc">A domain name that can optionally be added to the account. Clients can look up more details from this domain.</p>

			<div class="row" style="margin-bottom: 20px;">
				<div class="col-xs-12 col-md-10">
					<label translate="home_domain">Home Domain</label>
					<input class="form-control" type="text" ng-model="domain" />
				</div>
			</div>
			<div class="s-alert s-alert--alert row__message" ng-show="domain_error">
				{{domain_error}}
			</div>
			<div class="s-alert s-alert--success row__message" ng-show="domain_done" translate="domain_done">
				Home Domain was set.
			</div>
			<div class="row" style="margin-bottom: 20px;">
				<div class="col-xs-12 col-sm-5">
					<a class="btn btn-info btn-block btn-big" href="javascript:" ng-disabled="domain_working"
						ng-click="setDomain()" translate="save">Save</a>
				</div>
			</div>
		</div>

		<div class="col-sm-9" ng-show="isMode('data')">
			<label translate="important">Important:</label>
			<p class="hint" translate="data_desc1" translate-values="currentNetwork.coin">Allows you to set,modify or delete a Data Entry (name/value pair) that is attached to a particular account. An account can have an arbitrary amount of DataEntries attached to it. Each DataEntry increases the minimum balance needed to be held by the account.</p>
			<p class="hint" translate="data_desc2">DataEntries can be used for application specific things. They are not used by the core Stellar protocol.</p>
			<div class="row" style="margin-bottom: 20px;">
				<div class="col-xs-6 col-md-5">
					<label translate="data_key">Name</label>
					<input class="form-control" type="text" ng-model="data_key" />
				</div>
				<div class="col-xs-6 col-md-5">
					<label translate="data_value">Value</label>
					<input class="form-control" type="text" ng-model="data_value" />
				</div>
			</div>
			<div class="s-alert s-alert--alert row__message" ng-show="data_error">
				{{data_error}}
			</div>
			<div class="s-alert s-alert--success row__message" ng-show="data_done" translate="data_done">
				Data entry was set.
			</div>
			<div class="row" style="margin-bottom: 20px;">
				<div class="col-xs-12 col-sm-5">
					<a class="btn btn-info btn-block btn-big" href="javascript:" ng-disabled="data_working"
						ng-click="setData()" translate="save">Save</a>
				</div>
			</div>
			<div class="row" style="margin-bottom: 20px;">
				<div class="col-xs-12 col-md-10 AddTrustFromDirectory">
					<table class="table table-hover" style="border: 1px solid #dedfe0;">
						<tr ng-repeat="(key, value) in data_attr">
							<td>{{key}}</td>
							<td>{{value}}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>

		<div class="col-sm-9" ng-show="isMode('merge')">
			<label translate="important">Important:</label>
			<p class="hint" translate="merge_desc" translate-values="currentNetwork.coin">Danger operation! It transfers the native balance (the amount of XLM an account holds) to another account and removes the source account from the ledger.</p>

			<div class="row" style="margin-bottom: 20px;">
				<div class="col-xs-12 col-md-10">
					<label translate="dest_account">Destination Account</label>
					<input class="form-control" type="text" ng-model="dest_account" />
				</div>
			</div>
			<div class="s-alert s-alert--alert row__message" ng-show="merge_error">
				{{merge_error}}
			</div>
			<div class="s-alert s-alert--success row__message" ng-show="merge_done" translate="merge_done">
				Your account was merged to destination.
			</div>
			<div class="row" style="margin-bottom: 20px;" ng-show="delete_warning">
				<div class="col-xs-12 col-sm-5">
					<a class="btn btn-warning btn-block btn-big" href="javascript:"
						ng-click="toggleWarning()" translate="delete_warning">I KNOW　EVERYTHING >></a>
				</div>
			</div>
			<div class="row" style="margin-bottom: 20px;" ng-hide="delete_warning" >
				<div class="col-xs-12 col-sm-5">
					<a class="btn btn-info btn-block btn-big" href="javascript:" ng-disabled="merge_working"
						ng-click="toggleWarning()" translate="back">Back</a>
				</div>
				<div class="col-xs-12 col-sm-5">
					<a class="btn btn-danger btn-block btn-big" href="javascript:" ng-disabled="merge_working"
						ng-click="merge()" translate="delete_account">Delete Account</a>
				</div>
			</div>
		</div>

		<div class="col-sm-12" style="margin-top: 20px;" ng-show="network_error">
			<div class="s-alert s-alert--alert row__message">
				{{network_error | translate:currentNetwork.coin}}
			</div>
		</div>
	</div>
</section>
