<section class="col-xs-12 content" ng-controller="SendCtrl">
	<group ng-show="loadState.account || true">
	<div class="so-back islandBack islandBack--t">
		<div class="island">
			<div class="island__header" translate="send_pick">Choose asset to send</div>
			<div class="island__paddedContent">
				<p>{{'send_desc' | translate}}<br>{{'send_note' | translate}}</p>
			</div>
			<div class="AddTrustFromDirectory">
				<div class="row" ng-init="native=gateways.getSourceById('')">
					<div class="row__fixedAsset">
						<gateway name="{{native.name}}" logo="{{native.logo}}"
								website="{{native.website}}" code="XLM" address=""></gateway>
					</div>
					<div class="row__shareOption">
						{{balance | number : 7}}
					</div>
					<div class="row__shareOption">
						<button class="s-button btn btn-success" ng-click="pick('XLM', '')">
							{{'choose' | translate}} XLM</button>
					</div>
				</div>
				<div ng-repeat="(code, sublines) in lines">
					<div class="row" ng-repeat="(issuer, line) in sublines" ng-show="line.balance>0">
						<div class="row__fixedAsset" ng-init="gateway=gateways.getSourceById(line.issuer)">
							<gateway name="{{gateway.name}}" logo="{{gateway.logo}}"
									website="{{gateway.website}}" code="{{line.code}}" address="{{line.issuer}}"></gateway>
						</div>
						<div class="row__shareOption">
							{{line.balance | number : 7}}
						</div>
						<div class="row__shareOption">
							<button class="s-button btn btn-success" ng-click="pick(line.code, line.issuer)">
								{{'choose' | translate}} {{line.code}}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="so-back islandBack">
		<div class="island">
			<div class="island__header" translate="send">Send</div>
			<div class="island__paddedContent">
				<label class="s-inputGroup AddTrust__inputGroup" ng-hide="true">
					<span class="s-inputGroup__item s-inputGroup__item--tag S-flexItem-1of4" translate="asset_code">Asset Code</span>
					<input type="text" class="s-inputGroup__item S-flexItem-share" ng-model="src_code">
				</label>
				<label class="s-inputGroup AddTrust__inputGroup" ng-hide="true">
					<span class="s-inputGroup__item s-inputGroup__item--tag S-flexItem-1of4" translate="issuer_id">Issuer Account ID</span>
					<input type="text" class="s-inputGroup__item S-flexItem-share" ng-model="src_issuer">
				</label>
				<label class="s-inputGroup AddTrust__inputGroup">
					<span class="s-inputGroup__item s-inputGroup__item--tag S-flexItem-1of4" translate="recipient">Recipient</span>
					<input type="text" class="s-inputGroup__item S-flexItem-share" 
						ng-model="target_address" ng-change="resolve()" ng-model-options="{ debounce:800}"
						placeholder="{{'example' | translate}}: GAREELUB43IRHWEASCFBLKHURCGMHE5IF6XSE7EXDLACYHGRHM43RFOX">
				</label>
				<label class="s-inputGroup AddTrust__inputGroup">
					<span class="s-inputGroup__item s-inputGroup__item--tag S-flexItem-1of4" translate="amount">Amount</span>
					<input type="text" class="s-inputGroup__item S-flexItem-share" ng-model="target_amount"
						placeholder="{{'example' | translate}}: 100.25">
				</label>

				<label class="s-inputGroup AddTrust__inputGroup dropdown">
					<button type="button" class="btn btn-secondary dropdown-toggle s-inputGroup__item s-inputGroup__item--tag S-flexItem-1of4"
						data-toggle="dropdown" style="padding: 0 1.2em 0 1.2em;" ng-disabled="memo_provided">
						<span style="font-size: 18px; font-weight: 700;">{{'memo' | translate}}: {{memo_type}}</span> &nbsp;&nbsp;
						<span class="caret"></span></button>
						<ul class="dropdown-menu" style="font-size: 18px; font-weight: 700;">
					      <li><a ng-click="setMemoType('Id')">Memo-Id</a></li>
					      <li><a ng-click="setMemoType('Text')">Memo-Text</a></li>
					      <li><a ng-click="setMemoType('Hash')">Memo-Hash</a></li>
					    </ul>
					<input type="text" class="s-inputGroup__item S-flexItem-share" 
						ng-model="memo" ng-disabled="memo_provided"
						placeholder="{{'optional' | translate}}">
				</label>
			</div>
			
			<div>
				<div class="island__separator"></div>
				<div class="AddTrust__confirmation">
					<div class="s-alert s-alert--alert" ng-show="target_address && target_error.hasError()">
						<ul class="AddTrust__errorList">
							<li translate="invalid_account" ng-show="target_error.invalid">Account is invalid</li>
							<li ng-show="target_error.domain">{{target_domain}} {{'invalid_domain' | translate}}</li>
							<li ng-show="target_error.message">{{target_error.message}}</li>
						</ul>
					</div>
					<div class="s-alert s-alert--alert" ng-hide="isValidMemo()">
						<ul class="AddTrust__errorList">
							<li>{{'memo_invaid' | translate}} {{target_error.memo}}</li>
						</ul>
					</div>
					<div class="s-alert s-alert--alert" ng-hide="src_code">
						<ul class="AddTrust__errorList">
							<li translate="select_asset">Please select an asset to send.</li>
						</ul>
					</div>
					<div class="s-alert s-alert--success" ng-show="send_done">
						<ul class="AddTrust__errorList">
							<li translate="send_done">Asset successfully sent.</li>
						</ul>
					</div>
					
					<div class="row__message" ng-show="act_loading">
						{{'account_loading' | translate}} {{target_address}}
					</div>
					<div class="s-alert s-alert--info" style="margin-bottom: 10px;" ng-show="(is_federation || real_not_fund || real_accept) && real_address && !sending && !send_done">
						<ul class="AddTrust__errorList">
							<li ng-show="is_federation">{{real_address}}</li>
							<li ng-show="real_not_fund" translate="not_funded">Not funded</li>
							<li ng-show="real_accept">{{'can_accept' | translate}} {{real_accept}}</li>
						</ul>
					</div>
					<div class="row__message" style="margin-bottom: 10px;" ng-show="sending">
						正在发送到 {{real_address | shortaddress}}
					</div>
					
					<div class="AddTrust__confirmation__assetCard" ng-show="src_code && (!src_issuer || isValidAddress(src_issuer))">
						<div class="AssetCard AssetCard--fixed">
							<div class="AssetCard__main">
								<div class="AssetCard__logo">
									<img class="AssetCard__logo__image" data-ng-src="{{src_logo}}">
								</div>
								<div class="AssetCard__content">
									<div class="AssetCard__header">
										<span class="AssetCard__code">{{src_code}}</span>{{src_name}}
									</div>
									<p class="AssetCard__issuerAccountId">{{src_issuer | shortaddress}}</p>
								</div>
							</div>
						</div>
					</div>
					<button class="s-button btn btn-success" 
						ng-show="src_code && (!src_issuer || isValidAddress(src_issuer))" 
						ng-click="send()" 
						ng-disabled="!target_amount || !isValidAddress(real_address) || sending">{{'send' | translate}} {{src_code}}</button>
				</div>
			</div>

		</div>
	</div>
	
	
	</group>
</section>
