<section class="col-xs-12 content">
	<group>
	<div class="so-back islandBack islandBack--t">
		<div class="island">
			<div class="island__header" translate="send_pick">Choose asset to send</div>
			<div class="island__paddedContent">
				<p>{{'send_desc' | translate}}<br>{{'send_note' | translate}}</p>
			</div>
			<div class="AddTrustFromDirectory">
				<div class="row" ng-init="native=gateways.getSourceById('')">
					<div class="row__fixedAsset">
						<gateway name="{{currentNetwork.name}}" logo="{{currentNetwork.coin.logo}}"
								website="{{currentNetwork.website}}" code="{{currentNetwork.coin.code}}" address=""></gateway>
					</div>
					<div class="row__shareOption">
						{{balance | number : 7}}
					</div>
					<div class="row__shareOption">
						<button class="s-button btn btn-success"
							ng-disabled="quote_id"
							ng-click="pickCoin()">
							{{'choose' | translate}} {{currentNetwork.coin.code}}</button>
					</div>
				</div>
				<div ng-repeat="(code, sublines) in lines">
					<div class="row" ng-repeat="(issuer, line) in sublines" ng-show="line.balance>0">
						<div class="row__fixedAsset" ng-init="gateway=gateways.getSourceById(line.issuer, line.code)">
							<gateway name="{{gateway.name}}" logo="{{gateway.logo}}"
									website="{{gateway.website}}" code="{{line.code}}" address="{{line.issuer}}"></gateway>
						</div>
						<div class="row__shareOption">
							{{line.balance | number : 7}}
						</div>
						<div class="row__shareOption">
							<button class="s-button btn btn-success"
								ng-disabled="quote_id"
								ng-click="pickToken(line.code, line.issuer)">
								{{'choose' | translate}} {{line.code}}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="so-back islandBack">
		<div class="island">
			<div class="island__header" translate="send">Send</div>
			<div class="island__paddedContent">
				<label class="s-inputGroup AddTrust__inputGroup">
					<span class="s-inputGroup__item s-inputGroup__item--tag S-flexItem-1of4" translate="recipient">Recipient</span>
					<input type="text" class="s-inputGroup__item S-flexItem-share"
						ng-model="input_address" ng-change="resolve()" ng-model-options="{ debounce:800}"
						placeholder="{{'example' | translate}}: GAREELUB43IRHWEASCFBLKHURCGMHE5IF6XSE7EXDLACYHGRHM43RFOX" list="contacts">
					<datalist id="contacts">
						<option ng-repeat="entry in contacts" value="{{entry.name}}">{{entry.address}}</option>
					</datalist>
				</label>
				<label class="s-inputGroup AddTrust__inputGroup">
					<span class="s-inputGroup__item s-inputGroup__item--tag S-flexItem-1of4" translate="amount">Amount</span>
					<input type="number" autocomplete="off" class="s-inputGroup__item S-flexItem-share"
						ng-model="asset.amount"
						ng-disabled="quote_id"
						placeholder="{{'example' | translate}}: 100.25">
				</label>

				<label class="s-inputGroup AddTrust__inputGroup dropdown">
					<button type="button" class="btn btn-secondary dropdown-toggle s-inputGroup__item s-inputGroup__item--tag S-flexItem-1of4"
						data-toggle="dropdown" style="padding: 0 1.2em 0 1.2em;"
						ng-disabled="memo_require || memo_provided || quote_id">
						<span style="font-size: 18px; font-weight: 700;">{{'memo' | translate}}: {{memo_type}}</span> &nbsp;&nbsp;
						<span class="caret"></span></button>
						<ul class="dropdown-menu" style="font-size: 18px; font-weight: 700;">
					      <li><a ng-click="setMemoType(MemoNone)">Memo-{{MemoNone}}</a></li>
					      <li><a ng-click="setMemoType(MemoID)">Memo-{{MemoID}}</a></li>
					      <li><a ng-click="setMemoType(MemoText)">Memo-{{MemoText}}</a></li>
					      <li><a ng-click="setMemoType(MemoHash)">Memo-{{MemoHash}}</a></li>
					    </ul>
					<input type="text" class="s-inputGroup__item S-flexItem-share"
						ng-model="memo"
						ng-disabled="memo_provided || quote_id || memo_type=='none'"
						placeholder="{{memo_require ? 'required' : 'optional' | translate}}">
				</label>
			</div>

			<div>
				<div class="island__paddedContent" ng-show="quote_id">
					<form id="serviceForm" name="serviceForm" role="form">
						<div ng-repeat="field in extra_fields" ng-switch="field.type" class="row">
							<div ng-switch-when="label" class="col-xs-12 col-md-10">
								<label ng-bind="field.label"></label>
								<p ng-show="field.hint" ng-bind="field.hint" class="field-hint"></p>
							</div>
							<div ng-switch-when="text" class="col-xs-12 col-md-10">
								<label ng-bind="field.label"></label>
								<p ng-show="field.hint" ng-bind="field.hint" class="field-hint"></p>
								<input type="text"
									ng-model="field.value"
									ng-model-options="{debounce:800}"
									ng-required="{{field.required}}" class="form-control" />
							</div>
							<div ng-switch-when="select" class="col-xs-12 col-md-10">
								<label ng-bind="field.label"></label>
								<p ng-show="field.hint" ng-bind="field.hint" class="field-hint"></p>
								<select type="text" ng-model="field.value"
									ng-required="{{field.required}}" class="form-control">
									<option ng-repeat="option in field.options"
										ng-bind="option.label" value="{{option.value}}"
										ng-selected="option.selected" ng-disabled="option.disabled"></option>
								</select>
							</div>
						</div>
						<div class="row form-group brdige_card_code" ng-show="service_loading">
							<label><i class="fa fa-spinner fa-pulse"></i> {{'analyzing' | translate}}</label>
						</div>
						<div class="form-group service_alert" ng-show="service_error">
							<div>{{service_error}}</div>
						</div>
						<div class="row form-group" ng-show="service_currency">
							<div class="col-xs-12 col-sm-6 col-md-5">
								<label translate="will_recv">Recipient will receive</label>
								<div class="amount-wrap">
									<input type="number" autocomplete="off" placeholder="0.00"
										class="input amount-big form-control"
										ng-model="service_amount"
										ng-model-options="{debounce:800}"
										required="true">
									<select class="select currency"
										ng-model="service_currency"
										ng-change="updateAsset()"
										ng-disabled = "!mulipleAsset"
										ng-class="{'disabled': !mulipleAsset}" required="">
										<option value="{{asset.code}}.{{asset.issuer}}"
											ng-repeat="asset in extra_assets"
											ng-selected="service_currency == (asset.code + '.' + asset.issuer)">{{asset.code}}</option>
									</select>
								</div>
							</div>
						</div>
					</form>

					<div class="form-group service_alert" ng-show="!serviceForm.$valid && service_currency">
						<div translate="fill_form">Please fill the form correctly.</div>
					</div>
					<div class="form-group service_alert" ng-show="quote_error">
						<div>{{quote_error}}</div>
					</div>

					<div class="row form-group brdige_card_code" ng-show="quote_loading">
						<label><i class="fa fa-spinner fa-pulse"></i> {{'analyzing' | translate}}</label>
					</div>
				</div>

				<div class="island__separator"></div>
				<div class="AddTrust__confirmation">
					<div class="s-alert s-alert--alert" ng-show="input_address && send_error.hasError()">
						<ul class="AddTrust__errorList">
							<li translate="invalid_account" ng-show="send_error.invalid">Account is invalid</li>
							<li ng-show="send_error.domain">{{target_domain}} {{'invalid_domain' | translate}}</li>
							<li ng-show="send_error.message">{{send_error.message}}</li>
						</ul>
					</div>
					<div class="s-alert s-alert--alert" ng-hide="isValidMemo()">
						<ul class="AddTrust__errorList">
							<li>{{'memo_invaid' | translate}} {{send_error.memo}}</li>
						</ul>
					</div>
					<div class="s-alert s-alert--alert" ng-hide="asset.code || quote_id">
						<ul class="AddTrust__errorList">
							<li translate="select_asset">Please select an asset to send.</li>
						</ul>
					</div>
					<div class="s-alert s-alert--alert" ng-show="memo_require && !memo">
						<ul class="AddTrust__errorList">
							<li translate="require_memo">Recipient requires a memo. Please make sure it is correct.</li>
						</ul>
					</div>
					<div class="s-alert s-alert--success" ng-show="send_done">
						<ul class="AddTrust__errorList">
							<li translate="send_done">Asset successfully sent.</li>
						</ul>
					</div>

					<div class="row__message" ng-show="act_loading">
						<i class="fa fa-spinner fa-pulse"></i> {{'account_loading' | translate}} {{input_address}}
					</div>
					<div class="s-alert s-alert--info" style="margin-bottom: 10px;" ng-show="(is_federation || real_not_fund || real_accept) && real_address && !sending && !send_done">
						<ul class="AddTrust__errorList">
							<li ng-show="is_federation || is_contact">{{real_address}}</li>
							<li ng-show="real_not_fund" translate="not_funded" translate-values="currentNetwork.coin">Not funded</li>
							<li ng-show="real_accept">{{'can_accept' | translate}} {{real_accept}}</li>
						</ul>
					</div>
					<div class="row__message" style="margin-bottom: 10px;" ng-show="sending">
						{{'sending_to' | translate}} {{real_address | shortaddress}}
					</div>

					<!-- <div class="AddTrust__confirmation__assetCard" ng-show="asset.code">
						<div class="AssetCard AssetCard--fixed">
							<div class="AssetCard__main">
								<div class="AssetCard__logo">
									<img class="AssetCard__logo__image" data-ng-src="{{asset.logo}}">
								</div>
								<div class="AssetCard__content">
									<div class="AssetCard__header">
										<span class="AssetCard__code">{{asset.code}}</span>{{asset.name}}
									</div>
									<p class="AssetCard__issuerAccountId">{{asset.issuer | shortaddress}}</p>
								</div>
							</div>
						</div>
					</div> -->

					<div class="btn-group-pretty" ng-show="asset.amount">
						<label ng-class="{btn:true, active: isLine(line.code, line.issuer)}"
							ng-click="pickToken(line.code, line.issuer)"
							ng-repeat="line in send">
							<span class="tick"></span>
							<span class="amount">{{asset.amount | number : 4}}</span>
							<div class="btn_card">
								<img class="btn_card_logo" data-ng-src="{{line.logo}}">
								<span class="title">{{line.code}}</span>
								<span class="subtitle">{{line.name}}</span>
							</div>
						</label>
					</div>

					<button class="s-button btn btn-success"
						ng-show="asset.code"
						ng-click="send_asset()"
						ng-disabled="!asset.amount || !isValidAddress(real_address) || sending || (memo_require && !memo)">{{'send' | translate}} {{src_code}}</button>
				</div>
			</div>

		</div>
	</div>


	</group>
</section>
