<section class="col-xs-12 content">
	<div class="row">
		<div class="col-sm-3">
			<div class="settingPage">
				<a href="javascript:" ng-class="{active: isMode('network')}" ng-click="setMode('network')"
					translate="network">Network</a>
				<a href="javascript:" ng-class="{active: isMode('federation')}" ng-click="setMode('federation')"
					translate="fed_protocol">Federation Protocol</a>
			</div>
		</div>
		
		<div class="col-sm-9" ng-show="isMode('network')">
			<div class="row" style="margin-bottom: 20px;">
				<div class="col-xs-12 col-md-10">
					<label translate="proxy">Proxy</label> 
					<input class="form-control" type="text" ng-model="proxy" placeholder="127.0.0.1:1080" />
				</div>
			</div>
			<div class="row" style="margin-bottom: 20px;">
				<div class="col-xs-12 col-md-10">
					<label translate="public_url">Public Net URL</label> 
					<input class="form-control" type="text" ng-model="url" placeholder="https://horizon.stellar.org" list="nodes"/>
					<datalist id="nodes">
						<option value="https://horizon.stellar.org">
						<option value="https://stellar-api.wancloud.io">
						<option value="https://api.chinastellar.com">
					</datalist> 
				</div>
			</div>
			<div class="row" style="margin-bottom: 20px;">
				<div class="col-xs-12 col-sm-5">
					<a class="btn btn-info btn-block btn-big" href="javascript:" ng-click="save('network')" translate="save">Save</a>
				</div>
			</div>
			<div class="s-alert s-alert--alert row__message" ng-show="network_error">
				{{network_error}}
			</div>
		</div>
		
		<div class="col-sm-9" ng-show="isMode('federation')">
			<div class="row" style="margin-bottom: 20px;">
				<div class="col-xs-12 col-md-10">
					<label translate="fed_network">Name Service (~)</label>
					<p>{{ 'fed_network_desc' | translate}} <span ng-show="fed_name">{{'you_name_is' | translate}} <strong>~{{fed_name}}</strong></span></p>
					<input class="form-control" type="text" ng-model="fed_network" placeholder="fed.network" />
				</div>
			</div>
			<div class="row" style="margin-bottom: 20px;">
				<div class="col-xs-12 col-md-10">
					<label translate="fed_ripple">Ripple Service</label>
					<p translate="fed_ripple_desc">When you enter a Ripple address, it will use below domain to parse</p>
					<input class="form-control" type="text" ng-model="fed_ripple" placeholder="ripplefox.com" />
				</div>
			</div>
			<div class="row" style="margin-bottom: 20px;">
				<div class="col-xs-12 col-md-10">
					<label translate="fed_bitcoin">Bitcoin Service</label>
					<p translate="fed_bitcoin_desc">When you enter a Bitcoin address, it will use below domain to parse</p>
					<input class="form-control" type="text" ng-model="fed_bitcoin" placeholder="naobtc.com" />
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-5">
					<a class="btn btn-info btn-block btn-big" href="javascript:" ng-click="save('federation')" translate="save">Save</a>
				</div>
			</div>
		</div>
		
	</div>
</section>