<section class="col-xs-12 content">
	<div class="row" style="margin-bottom: 20px;">
		<div class="col-xs-12 col-md-10 col-md-offset-1">
			<label translate="proxy">Proxy</label> 
			<input class="form-control" type="text" ng-model="proxy" placeholder="127.0.0.1:1080" />
		</div>
	</div>
	<div class="row" style="margin-bottom: 20px;">
		<div class="col-xs-12 col-md-10 col-md-offset-1">
			<label translate="public_url">Public Net URL</label> 
			<input class="form-control" type="text" ng-model="url" placeholder="https://horizon.stellar.org" />
		</div>
	</div>
	<div class="row" style="margin-bottom: 20px;">
		<div class="col-xs-12 col-md-10 col-md-offset-1">
			<label translate="fed_network">Federation Name Default Provider(~)</label>
			<p>{{ 'fed_network_desc' | translate}} <span ng-show="fed_name">{{'you_name_is' | translate}} <strong>~{{fed_name}}</strong></span></p>
			<input class="form-control" type="text" ng-model="fed_network" placeholder="fed.network" />
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-5 col-md-offset-1">
			<a class="btn btn-info btn-block btn-big" href="javascript:" ng-click="save()" translate="save">Save</a>
		</div>
	</div>
</section>