<section class="col-xs-12 content">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 auth-form-wrapper">
			<h2>Settings</h2>
			<div class="row" style="margin-bottom: 20px;">
				<div class="col-xs-12 col-md-10">
					<h5 translate="fed_network">Name Service (~)</h5>
					<p>{{ 'fed_network_desc' | translate}} <span ng-show="fed_name">{{'you_name_is' | translate}} <strong>~{{fed_name}}</strong></span></p>
					<input class="form-control" type="text" ng-model="fed_network" placeholder="fed.network" />
				</div>
			</div>
			<div class="row" style="margin-bottom: 20px;">
				<div class="col-xs-12 col-md-10">
					<h5 translate="fed_ripple">Ripple Service</h5>
					<p translate="fed_ripple_desc">When you enter a Ripple address, it will use below domain to parse</p>
					<input class="form-control" type="text" ng-model="fed_ripple" placeholder="ripplefox.com" />
				</div>
			</div>
			<div class="row" style="margin-bottom: 20px;">
				<div class="col-xs-12 col-md-10">
					<h5 translate="fed_bitcoin">Bitcoin Service</h5>
					<p translate="fed_bitcoin_desc">When you enter a Bitcoin address, it will use below domain to parse</p>
					<input class="form-control" type="text" ng-model="fed_bitcoin" placeholder="naobtc.com" />
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-5">
					<a href class="btn btn-info btn-block btn-big" ng-click="save('federation')" translate="save">Save</a>
				</div>
			</div>
		</div>

	</div>
</section>
