<section class="col-xs-12 content">
	<group>
	<div class="so-back islandBack islandBack--t">
		<div class="island">
				<div class="OfferTables island__sub">
					<div class="OfferTables__tables island__sub__division">
						<h3 class="island__sub__division__title" translate="base_asset">Base asset</h3>
					</div>
					<div class="OfferTables__table island__sub__division">
						<h3 class="island__sub__division__title" translate="counter_asset">Counter asset</h3>
					</div>
				</div>
				
				<div class="PairPicker__pair">
					<div class="AssetPair">
						<div class="AssetPair__card">
							<div class="AssetCard AssetCard--fixed">
								<div class="AssetCard__main">
									<div class="AssetCard__logo">
										<img class="AssetCard__logo__image" data-ng-src="{{base.logo}}">
									</div>
									<div class="AssetCard__content">
										<div class="AssetCard__header">
											<span class="AssetCard__code">{{base_code}}</span> 
											<span class="AssetCard__federation">{{base.name}}</span>
										</div>
										<p class="AssetCard__issuerAccountId" title="{{__address}}">{{base_issuer | shortaddress}}</p>
									</div>
								</div>
							</div>
						</div>
						<div style="font-size: 20px;">
							<a href="javascript:" ng-click="flip()"><span class="glyphicon glyphicon-transfer"></span></a>
						</div>
						<div class="AssetPair__card">
							<div class="AssetCard AssetCard--fixed">
								<div class="AssetCard__main">
									<div class="AssetCard__logo">
										<img class="AssetCard__logo__image" data-ng-src="{{counter.logo}}">
									</div>
									<div class="AssetCard__content">
										<div class="AssetCard__header">
											<span class="AssetCard__code">{{counter_code}}</span> 
											<span class="AssetCard__federation">{{counter.name}}</span>
										</div>
										<p class="AssetCard__issuerAccountId" title="{{__address}}">{{counter_issuer | shortaddress}}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="PairPicker__auxInfo" ng-show="!show_pair">
					{{'pick_book' | translate}} <a href="javascript:" ng-click="choosePair()">{{'trade_pair' | translate}}</a>
				</div>
				<div class="PairPicker__auxInfo" ng-show="show_pair">
					{{'pick_trade' | translate}} <a href="javascript:" ng-click="choosePair()">{{'trade_page' | translate}}</a>
				</div>
		</div>
		
		<div class="so-back islandBack islandBack--t" ng-show="show_pair">
			<div class="island">
				<div class="island__header" translate="trade_pick">Choose asset to trade</div>
				<div class="AddTrustFromDirectory">
					<div class="row" ng-init="native=gateways.getSourceById('')">
						<div class="row__fixedAsset">
							<gateway name="{{native.name}}" logo="{{native.logo}}"
									website="{{native.website}}" code="{{currentNetwork.coin.code}}" address=""></gateway>
						</div>
						<div class="row__shareOption">
							<button class="s-button btn btn-success"
								ng-click="pick('base', currentNetwork.coin.code, '')"
								ng-disabled="isBase(currentNetwork.coin.code, '')"
								translate="as_base">As Base Asset</button>
						</div>
						<div class="row__shareOption">
							<button class="s-button btn btn-success"
								ng-click="pick('counter', currentNetwork.coin.code, '')"
								ng-disabled="isCounter(currentNetwork.coin.code, '')"
								translate="as_counter">As Counter Asset</button>
						</div>
					</div>
					<div ng-repeat="(code, sublines) in lines">
						<div class="row" ng-repeat="(issuer, line) in sublines">
							<div class="row__fixedAsset" ng-init="gateway=gateways.getSourceById(line.issuer, line.code)">
								<gateway name="{{gateway.name}}" logo="{{gateway.logo}}"
										website="{{gateway.website}}" code="{{line.code}}" address="{{line.issuer}}"></gateway>
							</div>
							<div class="row__shareOption">
								<button class="s-button btn btn-success"
									ng-click="pick('base', line.code, line.issuer)"
									ng-disabled="isBase(line.code, line.issuer)"
									translate="as_base">As Base Asset</button>
							</div>
							<div class="row__shareOption">
								<button class="s-button btn btn-success"
									ng-click="pick('counter', line.code, line.issuer)"
									ng-disabled="isCounter(line.code, line.issuer)"
									translate="as_counter">As Counter Asset</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="island island--pb" ng-show="!show_pair">
			<div class="OfferMakers island__sub">
				<div class="OfferMakers_maker island__sub__division">
					<div>
						<h3 class="island__sub__division__title island__sub__division__title--left">{{'buy' | translate}} {{base_code}}</h3>
						<table class="OfferMaker__table">
							<tbody>
								<tr class="OfferMaker__table__row">
									<td class="OfferMaker__table__label" translate="order_amount">Amount</td>
									<td class="OfferMaker__table__input">
										<input type="text" class="OfferMaker__table__input__input" ng-model="buy_amount" ng-change="calculate('buy_amount')">
									</td>
								</tr>
								<tr class="OfferMaker__table__row">
									<td class="OfferMaker__table__label" translate="price_of_each">Price of Each</td>
									<td class="OfferMaker__table__input">
										<input type="text" class="OfferMaker__table__input__input" ng-model="buy_price" ng-change="calculate('buy_price')">
									</td>
								</tr>
								<tr class="OfferMaker__table__row">
									<td class="OfferMaker__table__label">{{'order_value' | translate}} ({{counter_code}})</td>
									<td class="OfferMaker__table__input">
										<input type="text" class="OfferMaker__table__input__input" ng-model="buy_volume" ng-change="calculate('buy_volume')">
									</td>
								</tr>
							</tbody>
						</table>
						<div class="OfferMaker__overview">
							<div class="OfferMaker__youHave">
								{{'you_have' | translate}} {{getBalance(counter_code, counter_issuer)}} {{counter_code}}
							</div>
							<div class="s-alert s-alert--success OfferMaker__message" ng-show="buy_ok" translate="offer_success">Offer successfully created</div>
							<div class="s-alert s-alert--error OfferMaker__message" ng-show="buy_fail">{{buy_fail}}</div>
							<button class="s-button btn btn-success" ng-click="offer('buy')" ng-disabled="buying">{{'buy' | translate}} {{base_code}}</button>
						</div>
					</div>
				</div>
				<div class="OfferMakers_maker island__sub__division">
					<div>
						<h3 class="island__sub__division__title island__sub__division__title--left">{{'sell' | translate}} {{base_code}}</h3>
						<table class="OfferMaker__table">
							<tbody>
								<tr class="OfferMaker__table__row">
									<td class="OfferMaker__table__label" translate="order_amount" translate="order_amount">Amount</td>
									<td class="OfferMaker__table__input">
										<input type="text" class="OfferMaker__table__input__input" ng-model="sell_amount" ng-change="calculate('sell_amount')">
									</td>
								</tr>
								<tr class="OfferMaker__table__row">
									<td class="OfferMaker__table__label" translate="price_of_each">Price of Each</td>
									<td class="OfferMaker__table__input">
										<input type="text" class="OfferMaker__table__input__input" ng-model="sell_price" ng-change="calculate('sell_price')">
									</td>
								</tr>
								<tr class="OfferMaker__table__row">
									<td class="OfferMaker__table__label">{{'order_value' | translate}} ({{counter_code}})</td>
									<td class="OfferMaker__table__input">
										<input type="text" class="OfferMaker__table__input__input" ng-model="sell_volume" ng-change="calculate('sell_volume')">
									</td>
								</tr>
							</tbody>
						</table>

						<div class="OfferMaker__overview">
							<div class="OfferMaker__youHave">
								{{'you_have' | translate}} {{getBalance(base_code, base_issuer)}} {{base_code}}
							</div>
							<div class="s-alert s-alert--success OfferMaker__message" ng-show="sell_ok" translate="offer_success">Offer successfully created</div>
							<div class="s-alert s-alert--error OfferMaker__message" ng-show="sell_fail">{{sell_fail}}</div>
							<button class="s-button btn btn-success" ng-click="offer('sell')" ng-disabled="selling">{{'sell' | translate}} {{base_code}}</button>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="island island--pb" ng-show="!show_pair">
			<div class="island__header">{{'orderbook' | translate}}
				<a class="btn btn-success btn-sm" ng-click="refreshBook()" ng-disabled="refreshingBook">
					<span class="glyphicon glyphicon-refresh"></span> {{'refresh' | translate}}</a>
			</div>
			<div class="OfferTables island__sub">
				<div class="island__sub__division">
					<h3 class="island__sub__division__title" translate="buy_offers">Buy offers</h3>
					<div class="OfferTable">
						<div class="OfferTable__header">
							<div class="OfferTable__header__item" translate="price">Price</div>
							<div class="OfferTable__header__item">{{base_code}}</div>
							<div class="OfferTable__header__item">{{counter_code}}</div>
							<div class="OfferTable__header__item" translate="depth">Depth</div>
						</div>
						
						<div class="OfferTable__row" ng-repeat="item in book.bids"
							style="background: linear-gradient(to left, #dcf6de {{item.pct}}%, {{$index%2==1?'#f4f4f4':'#ffffff'}} {{item.pct}}%);"
							ng-click="pickPrice('bid', item.price)">
							<div class="OfferTable__row__item">{{item.price | number: price_precise}}</div>
							<div class="OfferTable__row__item">{{item.amount | number: precise}}</div>
							<div class="OfferTable__row__item">{{item.volumn | number: value_precise}}</div>
							<div class="OfferTable__row__item">{{item.depth | number: value_precise}}</div>
						</div>
					</div>
				</div>
				<div class="island__sub__division">
					<h3 class="island__sub__division__title" translate="sell_offers">Sell offers</h3>
					<div class="OfferTable">
						<div class="OfferTable__header">
							<div class="OfferTable__header__item" translate="price">Price</div>
							<div class="OfferTable__header__item">{{base_code}}</div>
							<div class="OfferTable__header__item">{{counter_code}}</div>
							<div class="OfferTable__header__item" translate="depth">Depth</div>
						</div>
						<div class="OfferTable__row" ng-repeat="item in book.asks"
							style="background: linear-gradient(to right, #fed6d8 {{item.pct}}%, {{$index%2==1?'#f4f4f4':'#ffffff'}} {{item.pct}}%);"
							ng-click="pickPrice('ask', item.price)">
							<div class="OfferTable__row__item">{{item.price | number: price_precise}}</div>
							<div class="OfferTable__row__item">{{item.amount | number: precise}}</div>
							<div class="OfferTable__row__item">{{item.volumn | number: value_precise}}</div>
							<div class="OfferTable__row__item">{{item.depth | number: value_precise}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="island" ng-show="!show_pair">
			<div class="island__header">{{'manager_offer' | translate}}
				<a class="btn btn-success btn-sm" ng-click="refreshOffer()" ng-disabled="refreshingOffer">
					<span class="glyphicon glyphicon-refresh"></span> {{'refresh' | translate}}
				</a>
				
				<div style="float:right"><input type="checkbox" ng-model="showAdvanced">{{ 'advanced' | translate}}</div>
			</div>
			<div class="island--pb">
				<div class="ManageOffers island__sub" ng-hide="showAdvanced">
					<div class=" island__sub__division">
						<h3 class="island__sub__division__title" translate="your_buy_offers">Your buy offers</h3>
						<table class="ManageOffers__table"><tbody>
							<tr class="ManageOffers__table__header">
								<td class="ManageOffers__table__header__item" translate="price">Price</td>
								<td class="ManageOffers__table__header__item">{{base_code}}</td>
								<td class="ManageOffers__table__header__item">{{counter_code}}</td>
								<td></td>
							</tr>
							<tr class="ManageOffers__table__row" ng-repeat="(id, item) in offers.bid">
								<td class="ManageOffers__table__row__item">{{item.price | number: price_precise}}</td>
								<td class="ManageOffers__table__row__item">{{item.amount | number: precise}}</td>
								<td class="ManageOffers__table__row__item">{{item.volume | number: precise}}</td>
								<td class="ManageOffers__table__row__item">
									<a href="javascript:" ng-click="cancel(item.id, 'bid')" translate="offer_cancel" ng-hide="item.canceling">Cancel</a>
									<span ng-show="item.canceling" translate="offer_canceling">Canceling...</span>
								</td>
							</tr>
						</tbody></table>
					</div>
					<div class="island__sub__division">
						<h3 class="island__sub__division__title" translate="your_sell_offers">Your sell offers</h3>
						<table class="ManageOffers__table"><tbody>
							<tr class="ManageOffers__table__header">
								<td class="ManageOffers__table__header__item" translate="price">Price</td>
								<td class="ManageOffers__table__header__item">{{base_code}}</td>
								<td class="ManageOffers__table__header__item">{{counter_code}}</td>
								<td></td>
							</tr>
							<tr class="ManageOffers__table__row" ng-repeat="(id, item) in offers.ask">
								<td class="ManageOffers__table__row__item">{{item.price | number: price_precise}}</td>
								<td class="ManageOffers__table__row__item">{{item.amount | number: precise}}</td>
								<td class="ManageOffers__table__row__item">{{item.volume | number: precise}}</td>
								<td class="ManageOffers__table__row__item">
									<a href="javascript:" ng-click="cancel(item.id, 'ask')" translate="offer_cancel" ng-hide="item.canceling">Cancel</a>
									<span ng-show="item.canceling" translate="offer_canceling">Canceling...</span>
								</td>
							</tr>
						</tbody></table>
					</div>
				</div>
				
				<div class="ManageOffers island__sub" ng-show="showAdvanced">
						<table class="ManageOffers__table"><tbody>
							<tr class="ManageOffers__table__header">
								<td class="ManageOffers__table__header__item" translate="price">Price</td>
								<td class="ManageOffers__table__header__item" translate="amount">Amount</td>
								<td class="ManageOffers__table__header__left" translate="buying">Buying</td>
								<td class="ManageOffers__table__header__left" translate="selling">Selling</td>
								<td></td>
							</tr>
							<tr class="ManageOffers__table__row" ng-repeat="(id, item) in offers.all">
								<td class="ManageOffers__table__row__item">{{item.price | number: 4}}</td>
								<td class="ManageOffers__table__row__item">{{item.amount | number: 4}}</td>
								<td class="ManageOffers__table__row__left">{{item.buy_code}}<span class="issuer" ng-show="item.buy_issuer">({{item.buy_issuer | shortaddress}})</span></td>
								<td class="ManageOffers__table__row__left">{{item.sell_code}}<span class="issuer" ng-show="item.sell_issuer">({{item.sell_issuer | shortaddress}})</span></td>
								<td class="ManageOffers__table__row__item">
									<a href="javascript:" ng-click="cancel(item.id, 'all')" translate="offer_cancel" ng-hide="item.canceling">Cancel</a>
									<span ng-show="item.canceling" translate="offer_canceling">Canceling...</span>
								</td>
							</tr>
						</tbody></table>
				</div>
				
			</div>
			<div class="s-alert s-alert--error OfferMaker__message" ng-show="cancel_error">{{cancel_error}}</div>
		</div>

	</div>
	</group>
</section>