<section class="col-xs-12 content" ng-controller="TrustCtrl">
	<group>
	<div class="so-back islandBack islandBack--t" ng-show="isPublicNetwork()">
		<div class="island">
			<div class="island__header" translate="add_trust">Add trust from known anchors</div>
			<div class="island__paddedContent">
				<p>
					{{'trust_src' | translate}}<br>{{'trust_note' | translate}}
				</p>
			</div>
			
			<div ng-repeat="(name, gateway) in gateways.getAllSources()">
				<div class="row" ng-repeat="(code, asset) in gateway.assets" ng-show="asset.list || show_all">
					<div class="row__fixedAsset">
						<gateway name="{{asset.name || gateway.name}}" logo="{{asset.logo || gateway.logo}}" website="{{gateway.website}}"
							code="{{asset.code}}" address="{{asset.issuer}}"></gateway>
					</div>
					<div class="row__shareOption">
						<button class="s-button btn btn-danger" ng-show="hasLine(asset.code, asset.issuer) && !hasBalance(asset.code, asset.issuer)" ng-click="delTrust(asset.code, asset.issuer)" ng-disabled="isChanging(asset.code, asset.issuer)">{{'trust_remove' | translate}}</button>
						<button class="s-button btn btn-warning" ng-show="hasLine(asset.code, asset.issuer) && hasBalance(asset.code, asset.issuer)" ng-disabled="true">{{'trust_remove_desc' | translate}}</button>
						<button class="s-button btn btn-success" ng-hide="hasLine(asset.code, asset.issuer)" ng-click="addTrust(asset.code, asset.issuer)" ng-disabled="isChanging(asset.code, asset.issuer)">{{'trust_add' | translate}} {{asset.code}}</button>
					</div>
				</div>
			</div>
			
			<a href="" ng-click="showHide()">
				<div class="txfoot">
					<span ng-show="!show_all"><i class="fa fa-angle-double-down fa-2x"></i></span>
					<span ng-show="show_all"><i class="fa fa-angle-double-up fa-2x"></i></span>
				</div>
			</a>
		</div>
	</div>
	
	<div class="s-alert s-alert--alert row__message" ng-show="trust_error">
		{{trust_error | translate:currentNetwork.coin}}
	</div>
	<div class="s-alert s-alert--success row__message" ng-show="trust_done" translate="trust_granted">
		Trust is granted!
	</div>


	<div class="so-back islandBack">
		<div class="island">
			<div class="island__header" translate="fed_add">Add trust via federation</div>
			<div class="island__paddedContent">
				<p translate="fed_desc">You can add trust using the federation url.</p>
				<label class="s-inputGroup AddTrust__inputGroup">
					<span class="s-inputGroup__item s-inputGroup__item--tag S-flexItem-1of4" translate="fed_url">Federation URL</span>
					<input type="text" class="s-inputGroup__item S-flexItem-share" ng-model-options="{debounce:800}"
						ng-model="fed_url" ng-change="resolve()" placeholder="{{'example' | translate}}: ripplefox.com"></label>
			</div>
			<div class="row" ng-show="fed_error">
				<div class="row__message row__message--error">
					{{'fed_unable' | translate}} {{fed_url}}
				</div>
			</div>
			<div class="row" ng-show="fed_loading">
				<div class="row__message">
					{{'fed_loading' | translate}} {{fed_url}}
				</div>
			</div>

			<div class="row" ng-repeat="asset in fed_currencies">
				<div class="row__fixedAsset" ng-init="gateway=gateways.getSourceById(asset.issuer, asset.code)">
					<gateway name="{{gateway.name}}" logo="{{gateway.logo}}" website="{{gateway.website}}"
								code="{{asset.code}}" address="{{asset.issuer}}"></gateway>
				</div>
				<div class="row__shareOption">
					<button class="s-button btn btn-danger" ng-show="hasLine(asset.code, asset.issuer) && !hasBalance(asset.code, asset.issuer)" ng-click="delTrust(asset.code, asset.issuer)" ng-disabled="isChanging(asset.code, asset.issuer)">{{'trust_remove' | translate}}</button>
					<button class="s-button btn btn-warning" ng-show="hasLine(asset.code, asset.issuer) && hasBalance(asset.code, asset.issuer)" ng-disabled="true">{{'trust_remove_desc' | translate}}</button>
					<button class="s-button btn btn-success" ng-hide="hasLine(asset.code, asset.issuer)" ng-click="addTrust(asset.code, asset.issuer)" ng-disabled="isChanging(asset.code, asset.issuer)">{{'trust_add' | translate}} {{asset.code}}</button>
				</div>
			</div>
			
		</div>
	</div>

	<div class="so-back islandBack">
		<div class="island">
			<div class="island__header" translate="manual_add">Manually add trust</div>
			<div class="island__paddedContent">
				<p translate="manual_desc">You can add trust manually if you know the account ID and asset code</p>
				<label class="s-inputGroup AddTrust__inputGroup">
					<span class="s-inputGroup__item s-inputGroup__item--tag S-flexItem-1of4" translate="asset_code">Asset Code</span>
					<input type="text" class="s-inputGroup__item S-flexItem-share" ng-model="manual_code" 
					placeholder="{{'example' | translate}}: CNY">
				</label>
				<label class="s-inputGroup AddTrust__inputGroup">
					<span class="s-inputGroup__item s-inputGroup__item--tag S-flexItem-1of4" translate="issuer_id">Issuer Account ID</span>
					<input type="text" class="s-inputGroup__item S-flexItem-share" ng-model="manual_issuer" ng-change="issuerChange()"
					placeholder="{{'example' | translate}}: GAREELUB43IRHWEASCFBLKHURCGMHE5IF6XSE7EXDLACYHGRHM43RFOX">
				</label>
				<label class="s-inputGroup AddTrust__inputGroup">
					<span class="s-inputGroup__item s-inputGroup__item--tag S-flexItem-1of4" translate="amount">Amount</span>
					<input type="text" autocomplete="off"
						class="s-inputGroup__item S-flexItem-share" 
						ng-model="manual_amount"
						placeholder="{{'example' | translate}}: 1000000000">
				</label>
			</div>

			<div>
				<div class="island__separator"></div>
				<div class="AddTrust__confirmation">
					<div class="s-alert s-alert--alert" ng-hide="!manual_issuer || isValidAddress(manual_issuer)">
						<ul class="AddTrust__errorList">
							<li translate="issuer_invalid">Asset issuer account ID must be a valid account ID</li>
						</ul>
					</div>
					<div class="AddTrust__confirmation__assetCard" ng-show="manual_code && isValidAddress(manual_issuer)">
						<div class="AssetCard AssetCard--fixed">
							<div class="AssetCard__main">
								<div class="AssetCard__logo">
									<img class="AssetCard__logo__image" data-ng-src="{{manual_logo}}">
								</div>
								<div class="AssetCard__content">
									<div class="AssetCard__header">
										<span class="AssetCard__code">{{manual_code}}</span>{{manual_name}}
									</div>
									<p class="AssetCard__issuerAccountId">{{manual_issuer}}</p>
								</div>
							</div>
						</div>
					</div>
					<button class="s-button btn btn-success" 
							ng-show="manual_code && isValidAddress(manual_issuer)" 
							ng-click="addTrust(manual_code, manual_issuer, manual_amount)" 
							ng-disabled="isChanging(manual_code, manual_issuer)">{{'trust_add' | translate}} {{manual_code}}</button>
				</div>
			</div>

		</div>
	</div>

	</group>
</section>
