<section class="col-xs-12 content" ng-show="addressInvalid">
	<group>
	<div class="so-back islandBack islandBack--t">
    <div class="island">
      <div class="island__header">
				{{ 'enter_address' | translate}}
			</div>
			<div class="padding-15" ng-show="invalid_eth">
				<div class="alert alert-danger" role="alert">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<span>{{'invalid_eth' | translate}}</span>
				</div>
			</div>
      <div class="eth_fields">
        <div class="row">
          <input class="form-control" type="text" placeholder="0xabc..." name="eth_address" ng-model="eth_address">
        </div>
        <div class="row center">
          <button class="btn btn-success" ng-click="addEthAdrress(eth_address)">{{'next' | translate}}</button>
        </div>
      </div>
    </div>
	</div>
	</group>
</section>


<section class="col-xs-12 content" ng-show="!addressInvalid">
	<group>
	<div class="so-back islandBack islandBack--t">
    <div class="island">
      <div class="island__header">
				{{ 'ficnetwork_address' | translate }}: {{currentEthAddress}}
			</div>
      <table class="table-hover EthAddressTable">
        <thead>
          <tr class="EthAddressTable-header">
            <th translate="fic_claimed">FIC Claimed</th>
            <th translate="fic_available">FIC Available</th>
            <th translate="available_in">Available in</th>
            <th translate="actions">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr class="EthAddressTable-row">
            <td>
              {{currentEthAddressCoins.claimed['0'] | number}}
            </td>
            <td>
              {{currentEthAddressCoins.remaining['0'] | number}}
            </td>
            <td>
              {{ 'now' | translate }}
            </td>
            <td>
              <button ng-show="currentEthAddressCoins.remaining['0'] > 0" class="btn btn-success" ng-click="goTo('/fic_claim')" translate="claim_unlock">Claim & Unlock</button>
              <button type="button" disabled class="btn btn-default" ng-hide="currentEthAddressCoins.remaining['0'] > 0">—</button>
            </td>
          </tr>
          <tr class="EthAddressTable-row">
            <td>
              {{currentEthAddressCoins.claimed['90'] | number}}
            </td>
            <td>
              {{currentEthAddressCoins.remaining['90'] | number}}
            </td>
            <td>
              {{availableIn['90']}} {{ 'days' | translate }}
            </td>
            <td>
              <button ng-show="currentEthAddressCoins.remaining['90'] > 0 && availableIn['90'] > 0" class="btn btn-success" ng-click="claim(key, 90)">{{'claim' | translate}}</button>
              <button ng-show="currentEthAddressCoins.remaining['90'] > 0" class="btn btn-success" ng-click="goTo('/fic_claim')" ng-disabled="availableIn['90'] > 0">{{'unlock' | translate}}</button>
              <button type="button" disabled class="btn btn-default" ng-hide="currentEthAddressCoins.remaining['90'] > 0">—</button>
            </td>
          </tr>
          <tr class="EthAddressTable-row">
            <td>
              {{currentEthAddressCoins.claimed['180'] | number}}
            </td>
            <td>
              {{currentEthAddressCoins.remaining['180'] | number}}
            </td>
            <td>
              {{availableIn['180']}} {{ 'days' | translate }}
            </td>
            <td>
              <button ng-show="currentEthAddressCoins.remaining['180'] > 0 && availableIn['180'] > 0" class="btn btn-success" ng-click="claim(key, 180)">{{'claim' | translate}}</button>
              <button ng-show="currentEthAddressCoins.remaining['180'] > 0" class="btn btn-success" ng-click="claim(key, 180)" ng-disabled="availableIn['180'] > 0">{{'unlock' | translate}}</button>
              <button type="button" disabled class="btn btn-default" ng-hide="currentEthAddressCoins.remaining['180'] > 0">—</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
	</div>
	</group>
</section>
