<section class="col-xs-12 content">
	<group>
	<div class="so-back islandBack islandBack--t" ng-repeat="(key, addr) in FicCoins track by $index">
    <div class="island">
      <div class="island__header">
				{{ 'ficnetwork_address' | translate }}: {{key}}
			</div>
      <table class="table-hover EthAddressTable" ng-show="FicCoins">
        <thead>
          <tr class="EthAddressTable-header">
            <th translate="fic_claimed">FIC Claimed</th>
            <th translate="fic_available">FIC Available</th>
            <th translate="available_in">Available in</th>
            <th translate="actions">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr class="EthAddressTable-row">
            <td>
              {{addr.claimed['0'] | number}}
            </td>
            <td>
              {{addr.remaining['0'] | number}}
            </td>
            <td>
              {{ 'now' | translate }}
            </td>
            <td>
              <button ng-show="addr.remaining['0'] > 0" class="btn btn-success"  ng-click="claim(key, 0)" translate="claim_unlock">Claim & Unlock</button>
              <button type="button" disabled class="btn btn-default" ng-hide="addr.remaining['0'] > 0">—</button>
            </td>
          </tr>
          <tr class="EthAddressTable-row">
            <td>
              {{addr.claimed['90'] | number}}
            </td>
            <td>
              {{addr.remaining['90'] | number}}
            </td>
            <td>
              {{availableIn['90']}} {{ 'days' | translate }}
            </td>
            <td>
              <button ng-show="addr.remaining['90'] > 0 && availableIn['90'] > 0" class="btn btn-success" ng-click="claim(key, 90)">{{'claim' | translate}}</button>
              <button ng-show="addr.remaining['90'] > 0" class="btn btn-success" ng-click="goTo('/ficnetwork_claim')" ng-disabled="availableIn['90'] > 0">{{'unlock' | translate}}</button>
              <button type="button" disabled class="btn btn-default" ng-hide="addr.remaining['90'] > 0">—</button>
            </td>
          </tr>
          <tr class="EthAddressTable-row">
            <td>
              {{addr.claimed['180'] | number}}
            </td>
            <td>
              {{addr.remaining['180'] | number}}
            </td>
            <td>
              {{availableIn['180']}} {{ 'days' | translate }}
            </td>
            <td>
              <button ng-show="addr.remaining['180'] > 0 && availableIn['180'] > 0" class="btn btn-success" ng-click="claim(key, 180)">{{'claim' | translate}}</button>
              <button ng-show="addr.remaining['180'] > 0" class="btn btn-success" ng-click="claim(key, 180)" ng-disabled="availableIn['180'] > 0">{{'unlock' | translate}}</button>
              <button type="button" disabled class="btn btn-default" ng-hide="addr.remaining['180'] > 0">—</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
	</div>
	</group>
</section>
