<section class="col-xs-12 content">
	<group>
	<div class="so-back islandBack islandBack--t">
		<div class="island">
			<div class="island__header">Claim history
				<a class="btn btn-success btn-sm" ng-click="refresh()" ng-disabled="loading">
					<span class="glyphicon glyphicon-refresh"></span> {{'refresh' | translate}}
				</a>
			</div>
			<div class="AddTrustFromDirectory">
				<div class="padding-15" ng-show="error_msg">
					<div class="alert alert-danger" role="alert">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span>{{error_msg | translate:currentNetwork.coin}}</span>
					</div>
				</div>
          	<table class="table-hover HistoryTable">
          		<thead>
          			<tr class="HistoryTable-header">
          				<th class="left">Whitelisted ETH Address</th>
            			<th class="left">Amount</th>
            			<th class="left">Date</th>
            			<th class="left">Claim processed</th>
            			<th class="left">Unlocked</th>
            		</tr>
          		</thead>
          		<tbody ng-repeat="tx in mergedTxs | orderBy:'-ethTime' ">
          			<tr class="HistoryTable-row">
                  <td class="address">0x{{tx.ethAddress}}</td>
            			<td>
                   	<span class="credit">{{tx.amount}}</span>
                   	<strong>FIC</strong>
					        </td>
          				<td>{{tx.tx1.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          				<td style="font-size: 18px;"><span ng-if="tx.tx1 != undefined && tx.tx2 != undefined">☑️</span><span ng-if="tx.tx1 == undefined || tx.tx2 == undefined">🔄</span></td>
                  <td>
                    <span ng-if="tx.tx4 != undefined">
                      <span class="address"><span class="credit"><span class="bold">+</span>{{tx.amount}}</span>
                     	<strong>FIC</strong></span>
                    </span>
                    <span ng-if="tx.tx4 == undefined">
                      <span ng-if="tx.lockup == 0">{{ 'now' | translate }}</span>
											<span ng-if="tx.lockup == 90">In {{availableIn['90']}} {{ 'days' | translate }}</span>
											<span ng-if="tx.lockup == 180">In {{availableIn['180']}} {{ 'days' | translate }}</span>
                    </span>
                  </td>
          			</tr>
          		</tbody>
          	</table>
        	</div>
        	<div class="txfoot">
				<div translate="loading" ng-show="loading">Loading...</div>
				<a href="" ng-click="load_more()" translate="load_more" ng-show="next && !loading">Load more</a>
				<div translate="no_more" ng-show="!next && !loading">No more transactions left</div>
			</div>
		</div>
	</div>
	</group>
</section>
