/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background: linear-gradient(150deg,rgba(100,200,255,.1),rgba(255,255,0,.2)),linear-gradient(90deg,rgba(255,255,255,.2),transparent),linear-gradient(30deg,#9291e0,#96dadb);
}

.worldimg {
	background-image: url(../img/wireframe-dotted-world.svg);
	background-repeat:no-repeat;
}

.header {
	margin-bottom: 20px;
}
.header nav {
	margin-bottom: 0;
}
.header .subnav {
  background-color: #f3f3f3;
  border-bottom: 1px solid #ccccca;
}

.header .subnav ul {
  padding: 0;
  margin: 0 0 0 52px;
  list-style: none;
}

.header .subnav ul > li {
  float: left;
  min-width: 70px;
  margin: 0 5px 0 0;
  text-align: center;
}

.header .subnav ul > li a {
  display: inline-block;
  padding: 10px;
  color: #888888;
}

.header .subnav ul > li a:hover,
.header .subnav ul > li a:focus {
  color: #1f1f1e;
  text-decoration: none;
  border-bottom: 2px solid #ccccca;
}

.header .subnav ul > li.active a {
  font-family: 'OpenSansRegular';
  border-bottom: 2px solid #888888;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footer a {
	margin-top: 10px;
}

/* Custom page CSS
-------------------------------------------------- */


/* Not required for template or sticky footer method. */

body > .container {
  padding: 10px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
code {
  font-size: 80%;
}

.settingPage a {
  display: block;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid transparent;
  margin: 0 0 3px;
  background: #d1def1;
  border-color : #c1cee7;
}
.settingPage a:hover,
.settingPage a.active {
  color: #d1def1;;
  text-decoration: none;
  background: #346aa9;
}

.row_bridge {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	flex: 0;
}

.right {
	text-align: right;
}

.center {
  text-align: center;
}

.nowrap {
	white-space:nowrap;
}

/*--------------------------------------------------
.currency-summary {
  font-size: 18px;
}
.currency-summary .balance {
    text-align: right;
}
.currency-summary .component {
    font-family: OpenSansLight;
    font-size: 16px;
    line-height: 35px;
    color: #888888;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #ccccca;
}
.currency-summary .balancebox {
  border: 1px solid #ccccca;
  background-color: #f3f3f3;
  padding: 0 20px;
  margin-bottom: 10px;
}
.currency-summary .total .lbl {
  color: #676027;
  font-family: OpenSansBold;
}
.currency-summary .total .lbl i {
  color: #888888;
  display: inline-block;
  text-align: center;
  width: 2em;
  padding-right: 0.8em;
}
.currency-summary .total .lbl,
.currency-summary .total .balance {
  color: #1f1f1e;
  line-height: 60px;
}
.currency-summary .total .lbl a,
.currency-summary .total .balance a {
  display: block;
  color: #1f1f1e;
  text-decoration: none;
}
.currency-summary .currency-non-native .total {
  cursor: pointer;
}
.currency-native {
  color: #346aa9;
}
 */