/* Auth part */
.auth-form-wrapper {
  background: #fff;
  padding: 15px 20px;
  border: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 10px 30px 0 rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.auth-form-wrapper label {
  font-weight: 400;
  margin-bottom: 3px;
}
.auth-form-wrapper .section {
  margin-bottom: 30px;
  padding-top: 20px;
  border-top: 2px solid #efefef;
}

.auth h1 {
  height: 100px;
  background: #346aa9;
  text-align: center;
  font-size: 26px;
  font-weight: 300;
  line-height: 100px;
  color: #ffffff;
  margin-top: 0;
}
.auth.FIC h1 {
  background: #5157D8;
}

.auth-form-wrapper h2 {
  padding: 0 0 20px;
  text-align: center;
}

.auth-attention {
  margin-top: 5px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 13px;
  background: #d1def1;
  color: #1e3f78;
  border: 1px solid #ccccca;
  padding: 15px;
}

.form-group p.error-text {
  display: none;
}
.form-group pre {
  width: 100%;
}
.form-group .form-control {
  margin-bottom: 0;
}
.form-group.field-ok p > span {
  padding-top: 3px;
  line-height: 15px;
  font-size: 12px;
  color: #41a447;
}
.form-group.field-ok .input-group:after {
  content: "";
  position: absolute;
  left: 100%;
  bottom: 0;
  margin-left: 4px;
  width: 5px;
  height: 100%;
  background: #41a447;
}
.form-group.field-error {
  margin-bottom: 15px;
}
.form-group.field-error p > span {
  padding-top: 3px;
  line-height: 15px;
  font-size: 12px;
  color: #b01e2e;
}
.form-group.field-error .input-group:after {
  content: "";
  position: absolute;
  left: 100%;
  bottom: 0;
  margin-left: 4px;
  width: 5px;
  height: 100%;
  background: #b01e2e;
}
.form-group.field-warning .input-group:after {
  content: "";
  position: absolute;
  left: 100%;
  bottom: 0;
  margin-left: 4px;
  width: 5px;
  height: 100%;
  background: #f2edbf;
}

.strength {
  margin: 38px 0 0 0;
}
.strength.match {
  color: #b01e2e;
}
.strength.weak {
  color: #b01e2e;
}
.strength.medium {
  color: #ff8200;
}
.strength.strong {
  color: #1a6834;
}

.errorGroup {
	position: relative;
	overflow: visible;
	left: 0;
}

.error {
  color: #b01e2e;
}

.text-error {
  color: #b01e2e;
  margin: -20px 0 0 0;
}

.contact {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.editing {
  background: #f7f7f7;
  margin-right: 0px;
}

.login-content ul.nav-tabs li.nav-item a.nav-link {
  color: #fff;
}
.login-content ul.nav-tabs li.nav-item.active a.nav-link {
  color: #23527c;
}
.login-content ul.nav-tabs li.nav-item a.nav-link:hover {
  color: #23527c;
}
.login-options {
  width: 100%;
  margin-top: 10px;
}
.login-options .large {
  font-size: 16px;
  padding-top: 5px;
  display: block;
}
.password-strength {
  font-family: 700;
}
.submit-btn-container {
  margin-top: 30px;
}
meter {
  margin: 0 auto 5px;
  width: 100%;
  height: 10px;
  border-radius: 10px;
}

meter::-webkit-meter-bar {
  border-radius: 10px;
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}
meter::-webkit-meter-optimum-value {
  border-radius: 10px;
  transition: .25s ease;
}
/* Webkit based browsers */
meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: orange; }
meter[value="3"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="4"]::-webkit-meter-optimum-value { background: #60cd18; }
