.island {
	margin: 0 auto;
	margin-bottom: 18px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	background: #fff;
	border: 1px solid #dedfe0;
	border-radius: 3px;
}

.islandBack {
	padding-bottom: 27px;
}

.islandBack--t {
	padding-top: 27px;
}

.islandBack--ttt {
	padding-top: 4em;
}

.island--simplePad {
	padding: 16px 18px;
}

.island--simplePadTB {
	padding-top: 18px;
	padding-bottom: 18px;
}

.island__paddedContent {
	padding: 16px 18px;
}

.island__header {
	background-color: #f4f4f5;
	border-bottom: 1px solid #dedfe0;
	border-radius: 3px 3px 0 0;
	padding: 11px 18px 9px 18px;
	font-size: 21px;
}

.island__separator {
	border-top: 1px solid #dedfe0;
	width: 100%;
}

.island__sub {
	display: flex;
	padding: 0 9px;
	justify-content: space-between;
}

.island__sub__division {
	margin: 0 9px;
	flex: 1 0;
	width: 0;
}

.island__sub__division__title {
	font-size: 21px;
	margin-bottom: 14px;
	margin-top: 14px;
	font-weight: 400;
	text-align: center;
}

.island__sub__division__title--left {
	text-align: left;
}

.island--pb {
	padding-bottom: 36px;
}

.island .row {
	display: flex;
	margin-right: 0px;
	margin-left: 0px;
	padding: 14px 18px;
	border-top: 1px solid #dedfe0;
}
.island .no-top {
	display: block;
	border-top: 0px;
}
.island input {
	border: 1px solid #bdbfc0;
}

.AddTrust__inputGroup {
	margin-bottom: 8px;
}
.AddTrust__confirmation {
    margin-top: 1em;
    padding-bottom: 1em;
    padding-left: 20px;
    padding-right: 20px;
}
.AddTrust__confirmation__assetCard {
    margin-bottom: 1em;
}
.AddTrust__errorList {
    margin-left: 2em;
}

.s-inputGroup {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-size: 18px;
    line-height: 1.5;
}

.s-inputGroup__item {
    border-radius: 3px;
}
.s-inputGroup__item--tag {
    padding-left: 1em;
    background: #f4f4f5;
    border-radius: 3px 0 0 3px;
    border: 1px solid #bdbfc0;
    border-right: 0;
}
.s-inputGroup__item--tag+.s-inputGroup__item {
    border-radius: 0 3px 3px 0;
}
.s-inputGroup__item--tag, .s-inputGroup__item--tagFlat, .s-inputGroup__item--tagMin {
    align-items: center;
    display: flex;
}
.s-inputGroup__item {
    flex: 12 0 auto;
}
.S-flexItem-1of4 {
    flex: 0 0 25%;
}

.s-alert--alert {
    border: 1px solid #d12;
    background: #f8cfd3;
}
.s-alert {
    display: block;
    padding: .5em 1em;
    margin-bottom: 1em;
    border-radius: 3px;
}
.s-alert ul {
	margin-bottom: 0;
	font-size: 18px;
}
.row__message {
	width: 100%;
	text-align: center;
	font-size: 21px;
	color: #3a3f43;
}

.row__fixedAsset {
	width: 450px;
	flex: 1 0;
}

.row__shareOption {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	flex: 1;
}

.row__message--error {
	color: #d12;
}

.BalancesTable {
	width: 100%;
}

.BalancesTable__headerRow {
	font-size: 24px;
	text-align: center;
}

.BalancesTable__headerRow td {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.BalancesTable__row {
	border-top: 1px solid #dedfe0;;
}

.BalancesTable__row td {
	padding: 0.75em 18px;
}

.BalancesTable__row__amount {
	font-family: 'OpenSansLight';
	text-align: right;
	font-size: 22px;
}

.BalancesTable__row__limit {
	font-size: 18px;
	text-align: right;
	color: #3a3f43;
}

.BalancesTable__row__removeLink {
	font-size: 13.5px;
	color: #929597;
}

.AssetCard__main {
	background: #f4f4f5;
	border-radius: 3px;
	display: flex;
	padding: 8px 16px 8px 8px;
	height: 64px;
	align-items: center;
	border: 1px solid #dedfe0;
}

.AssetCard--fixed {
	width: 400px;
}

.AssetCard--container .AssetCard__main {
	border-radius: 3px 3px 0 0;
}

.AssetCard__addon {
	padding: 8px;
	border-left: 1px solid #dedfe0;
	border-right: 1px solid #dedfe0;
	border-bottom: 1px solid #dedfe0;
	border-radius: 0 0 3px 3px;
}

.AssetCard__logo {
	width: 50px;
	height: 50px;
	background: #fff;
	flex: 0 0 auto;
	margin-right: 16px;
	border-radius: 3px;
}

.AssetCard__logo__image {
	width: 50px;
	height: 50px;
	margin: 0;
	display: block;
	border-radius: 3px;
}

.AssetCard__content {
	overflow: hidden;
}

.AssetCard__header {
	display: flex;
	align-items: baseline;
	height: 28px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.AssetCard__code {
	font-weight: 700;
	font-size: 28px;
	line-height: 24px;
	margin-right: 8px;
}

.AssetCard__federation {
	text-decoration: none;
	font-size: 21px;
	line-height: 24px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

a.AssetCard__federation:hover {
	border-bottom: 1px solid #000;
}

.AssetCard__issuerAccountId {
	margin: 0;
	font-size: 10px;
	padding-left: 1px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 1px;
	opacity: 0.8;
}

.BalancesTable__row:hover .AssetCard__main, a.AssetPairRow:hover .AssetCard__main
	{
	border: 1px solid #5CDA63;
	box-shadow: 0 0 1px rgba(#5CDA63, 0.3);
}