
.HistoryTable {
	width: 100%;
}

.HistoryTable-header {
	text-align: center;
}

.HistoryTable-header th {
	text-align: center;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-weight: bold;
}

.HistoryTable-row {
	border-top: 1px solid #dedfe0;;
}

.HistoryTable-row td {
	padding: 0.5em 1em;
	font-size: 75%;
}

.HistoryTable-row .amount {
	text-align: right;
}

.HistoryTable-row .amount .credit {
	color: #0c0dff;
}

.HistoryTable-row .amount .debit {
	color: #e34949;
}

.HistoryTable-row .address {
	word-break: break-all;
}

.HistoryTable-row .bold {
	font-weight: bold; 
}


.feed {
	margin: 0;
}

.feed a {
	text-decoration: none;
}

.feed-item.item > .item-content {
	background-color: white;
}

.feed-item {
	display: table;
	position: relative;
	height: 80px;
	border-top: 1px solid #E5E5E5;
	padding: 0 16px;
	overflow: hidden;
	background-color: white;
}

.feed-item-comment {
	display: table-cell;
	color:#444;
	padding-left:16px;
	vertical-align: middle;
}

.feed-item-comment .table {
	display: table; 
	width:100%;
	min-width:780px;
}

.feed-item-comment .batchtable {
	padding-left: 10px;
	display: table; 
	width:100%;
	min-width:780px;
}

.feed-item-comment .batchtable .batchrow {
	display:table-row;
}

.feed-item-comment .cell {
	display: table-cell;
	white-space:nowrap;
	border-top: 1px solid #E5E5E5;
}

.feed-item-icon {
	display: table-cell;
	vertical-align: middle;
}

.txfoot {
	padding: 10px;
	margin: 0;
	clear: both;
	background: #f2f2f2;
	text-align: center;
}

.txfoot a {
  color: #000;
  font-size: 18px;
  text-decoration: none;
}

.txfoot a:hover {
  background: #f4f4f4;
}

.txamount {
	text-align: right;
}

.timestamp {
	text-align: right;
	color: #AAAAAA;
}

.payment {
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}

.more {
	text-align: right;
	display: table-cell;
	vertical-align: middle;
	padding-left: 16px;
}
    
.circle {
	border-radius: 50%;
	border-width: 1px;
	width: 68px;
	height: 68px;
	display: flex;
	border-style: solid;
	align-items: center;
	justify-content: center;
}

.circle-red {
	border-color: #D60000;
	color: #D60000;
}

.circle-green {
	border-color: #008000;
	color: #008000;
}

.circle-blue {
	border-color: #0000D6;
	color: #0000D6;
}

.circle-offer {
	border-color: #0000D6;
	color: #ff00ff;
}

.circle-option {
	border-color: #ff8000;
	color: #ff8000;
}

.circle-batch {
	border-color: #8000ff;
	color: #8000ff;
}
        